<template>
  <div class="flex w-100pc">
    <span
      class="w-20pc bg-blue-light mt-1 border-radius-10 shadow"
      style="height:4px"
      v-if="verses <= 20"
    ></span>

    <span
      class="w-40pc bg-blue-dark mt-1 border-radius-10 shadow"
      style="height:4px"
      v-if="verses > 20  && verses <= 30"
    ></span>

    <span
      class="w-60pc bg-purple mt-1 border-radius-10 shadow"
      style="height:4px"
      v-if="verses > 30  && verses <= 50"
    ></span>

    <span
      class="w-80pc bg-orange mt-1 border-radius-10 shadow"
      style="height:4px"
      v-if="verses > 50  && verses <= 100"
    ></span>

    <span
      class="w-100pc bg-red mt-1 border-radius-10 shadow"
      style="height:4px"
      v-if="verses > 100"
    ></span>
  </div>
</template>

<script>
	export default {
		name: 'VersesMeter',
		props: ['verses']
	}
</script>

<style>
</style>