<template>
  <div class="w-100pc p-3 h-min-80vh">
    <!--list of bookmarks  -->
    <BookmarkList
      v-for="bookmark in bookmarks_with_verses"
      :key="bookmark.id"
      :bookmark="bookmark"
    />

    <div
      class="w-100pc bg-teal h-50 border-radius-10 flex flex-center"
      @click="$refs.createBookmarkModal.open()"
    >CREATE NEW CATEGORY</div>

    <!-- add new category -->
    <sweet-modal
      ref="createBookmarkModal"
      modal-theme="dark"
      overlay-theme="dark"
      width="300"
      :enable-mobile-fullscreen="false"
    >
      <div class="flex flex-col w-100pc">
        <label>Category Name</label>
        <input
          type="text"
          class="h-40 border-radius-10 mb-3 text-black p-3"
          v-model="bookmark_name"
        />

        <button
          class="bg-teal border-radius-10 h-40 text-center font-size-20"
          @click="submit()"
        >CREATE</button>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	// import BookmarkList from '~/components/bookmarks/BookmarkList'
	export default {
		name: 'Bookmarks',
		components: {
			// BookmarkList,
			BookmarkList: () => import('@/components/bookmarks/BookmarkList')
		},
		data() {
			return {
				bookmark_name: ''
			}
		},
		computed: {
			...mapState({
				bookmarks_with_verses: state => state.bookmark.bookmarks_with_verses
			})
		},
		mounted() {
			this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')
		},
		methods: {
			submit() {
				let form_data = {
					name: this.bookmark_name
				}
				this.$store
					.dispatch('bookmark/STORE', form_data)
					.then(res => {
						this.$toast.success('Category Created')

						//reset cache
						this.$store.cache.delete('bookmark/INDEX')
						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
						this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')

						this.$refs.createBookmarkModal.close()
					})

					.catch(err => {
						this.$toast.error('Technical Error')
					})
			}
		}
	}
</script>

<style>
</style>