<template>
  <div class="mt-5">
    <div class="flex flex-col items-center">
      <h1 class="font-size-40 line-height-1 text-grey-dark text-center">
        Booking Terawih BSP21
      </h1>
      <h2 class="font-size-36 p-2 w-full text-center text-grey-darker">
        {{ stats.date_today }}
      </h2>
    </div>

    <div class="flex flex-col flex-center mt-5">
      <div class="w-500 w-100pc-mobile text-center">
        <strong> Pengumuman: </strong>
        <div>
          Selepas melihat trend kedatangan dan pendaftaran, kini anda tidak
          perlu membuat tempahan slot untuk terawih. Boleh terus walk-in
          mengikut kapasiti yang ditetapkan.
        </div>
      </div>
    </div>

    <!-- <div class="flex flex-col-mobile justify-center text-black">
      <div
        class="h-auto w-auto flex flex-center flex-col border-radius-20 bg-blue-lighter m-3 p-5"
      >
        <div>Lelaki</div>
        <div class="font-size-50">
          {{ stats.male_balance }}
        </div>

        <div class="">Booking Slot : {{ stats.male_slot }}</div>
        <div class="mb-2">Walkin Slot : {{ stats.male_slot_walkin }}</div>

        <div class="">
          <nuxt-link
            :to="{
              path: '/booking_terawih/register',
              query: { gender: 'male' },
            }"
          >
            <button
              class="border-radius-10 bg-blue p-2 text-white m-1"
              v-show="stats.male_balance > 0"
            >
              Register
            </button>
          </nuxt-link>

          <nuxt-link
            :to="{
              path: '/booking_terawih/list',
              query: { gender: 'male' },
            }"
          >
            <button class="border-radius-10 bg-white p-2 text-blue m-1">
              Lihat Senarai
            </button>
          </nuxt-link>

          <div class="p-2 text-red m-1" v-show="stats.male_balance <= 0">
            Maaf, Slot booking lelaki telah habis
          </div>
        </div>
      </div>

      <div
        class="h-auto w-auto flex flex-center flex-col border-radius-20 bg-pink-lighter m-3 p-5"
      >
        <div>Perempuan</div>

        <div class="font-size-50">
          {{ stats.female_balance }}
        </div>

        <div class="">Booking Slot : {{ stats.female_slot }}</div>
        <div class="mb-2">Walkin Slot : {{ stats.female_slot_walkin }}</div>

        <div class="">
          <nuxt-link
            :to="{
              path: '/booking_terawih/register',
              query: { gender: 'female' },
            }"
          >
            <button
              class="border-radius-10 bg-blue p-2 text-white m-1"
              v-show="stats.female_balance > 0"
            >
              Register
            </button>
          </nuxt-link>

          <nuxt-link
            :to="{
              path: '/booking_terawih/list',
              query: { gender: 'female' },
            }"
          >
            <button class="border-radius-10 bg-white p-2 text-blue m-1">
              Lihat Senarai
            </button>
          </nuxt-link>

          <div class="p-2 text-red m-1" v-show="stats.female_balance <= 0">
            Maaf, Slot booking perempuan telah habis
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'container_public_no_header',

  computed: {
    ...mapState({
      stats: (state) => state.terawih.stats,
    }),
  },

  created() {
    this.$store.dispatch('terawih/STATS')
  },
  head() {
    return {
      title: 'Booking Terawih Surau As Syifa BSP21',
      description: `Daftar & Semak Secara Online `,
      name: 'Booking Terawih Surau As Syifa BSP21',
      ogTitle: 'Booking Terawih Surau As Syifa BSP21',
      ogDescription: 'Daftar & Semak Slot Terawih Secara Mudah ',
      ogHost: 'https://suaquran.com/booking_terawih',
      ogImage: '',
    }
  },
}
</script>

<style>
</style>