<template>
  <section>
    <div>
      <nuxt-link to="/booking_terawih">
        <button class="bg-grey-light p-3 no-print border-radius-20">
          KEMBALI KE BOOKING PAGE
        </button>
      </nuxt-link>

      <h3 class="text-2xl text-center font-heading mt-5">
        Senarai Jemaah
        <span class="font-bold"> {{ jantina }} - {{ stats.date_today }} </span>
      </h3>
    </div>
    <table class="table-auto border border-solid border-grey w-full mb-5 mx-3">
      <thead>
        <tr>
          <th class="w-100">ID</th>
          <th>NAME</th>
          <th class="w-100">BLOCK</th>
          <th class="w-100">TANDATANGAN</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(applicant, index) in applicants" :key="applicant.id">
          <td class="text-center">{{ index + 1 }}</td>
          <td>{{ applicant.name }}</td>
          <td class="text-center">{{ applicant.block }}</td>
          <td></td>
        </tr>

        <tr
          v-for="index in stats.male_balance"
          v-show="$route.query.gender == 'male'"
        >
          <td class="text-center">{{ index + stats.male_count }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-show="$route.query.gender == 'male'">
          <td class="text-center bg-blue-lighter" colspan="4">WALKIN SLOT</td>
        </tr>
        <tr
          v-for="index in stats.male_slot_walkin"
          v-show="$route.query.gender == 'male'"
        >
          <td class="text-center">
            {{ index + stats.male_slot }}
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr
          v-for="index in stats.female_balance"
          v-show="$route.query.gender == 'female'"
        >
          <td class="text-center">{{ index + stats.female_count }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-show="$route.query.gender == 'female'">
          <td class="text-center bg-blue-lighter" colspan="4">WALKIN SLOT</td>
        </tr>
        <tr
          v-for="index in stats.female_slot_walkin"
          v-show="$route.query.gender == 'female'"
        >
          <td class="text-center">
            {{ index + stats.female_slot }}
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'container_public_no_header',

  computed: {
    ...mapState({
      applicants: (state) => state.terawih.applicants,
      stats: (state) => state.terawih.stats,
    }),

    jantina() {
      if (this.$route.query.gender == 'male') {
        return 'Lelaki'
      }
      if (this.$route.query.gender == 'female') {
        return 'Perempuan'
      }
    },
  },
  created() {
    this.$store.dispatch(
      'terawih/APPLICANTS_FOR_TODAY',
      this.$route.query.gender
    )

    this.$store.dispatch('terawih/STATS')
  },

  head() {
    return {
      title: 'Senarai Terawih Surau As Syifa BSP21',
      description: `Daftar & Semak Secara Online `,
    }
  },
}
</script>

<style scoped>
td,
th {
  padding: 10px;
}

th {
  background-color: rgb(168, 168, 168);
}

td,
th {
  border: solid 1px grey;
}
</style>