<template>
  <div class="mt-5">
    <div>
      <nuxt-link to="/booking_terawih">
        <button class="bg-grey-light p-3 no-print border-radius-20">
          KEMBALI KE BOOKING PAGE
        </button>
      </nuxt-link>

      <h3 class="text-2xl text-center font-heading">
        Borang Tempahan Slot Terawih
      </h3>
    </div>

    <!-- name and phone -->
    <client-only>
      <div class="flex flex-col flex-center">
        <div class="lg:w-1/2 w-full px-2 my-1">
          <!-- <div class="has-text-danger is-small" v-if="!name && isSubmit">
            This Field is required
          </div> -->
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="text"
            placeholder="Nama * "
            v-model="name"
            required
          />
        </div>
        <div class="lg:w-1/2 w-full px-2 my-1">
          <!-- <div class="has-text-danger is-small" v-if="!block && isSubmit">
            This Field is required
          </div> -->
          <!-- <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="text"
            placeholder="Block *"
            v-model="block"
            required
          /> -->

          <div class="relative">
            <select
              class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
              name="field-name"
              v-model="block"
            >
              <option value="">Block</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
              <option>F</option>
              <option>G</option>
              <option>H</option>
              <option>I</option>
              <option>J</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="lg:w-1/2 w-full px-2 my-1">
          <button
            class="appearance-none block w-full py-3 px-4 leading-tight text-white bg-blue-500 border border-gray-200 rounded"
            @click="submitForm()"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { mapState } from 'vuex'
// import { required } from 'vuelidate/lib/validators'

export default {
  layout: 'container_public_no_header',
  data() {
    return {
      isSubmit: false,
      name: '',
      block: '',
    }
  },

  methods: {
    submit() {
      this.submitForm()

      //   if (this.name != '' && this.block != '') {
      //     this.isSubmit = true
      //   } else {
      //     this.isSubmit = false
      //     this.submitForm()
      //   }
    },
    submitForm() {
      const params = {
        name: this.name,
        block: this.block,
        gender: this.$route.query.gender,
        email: 'fake@example.com',
      }
      this.$store
        .dispatch('terawih/STORE', params)
        .then((res) => {
          this.$swal({
            icon: 'success',
            title: 'Berjaya.',
            text: 'Sila hadir pada surau sebelum azan Isyak ',
          })
          this.$router.push({
            path: '/booking_terawih/list',
            query: { gender: this.$route.query.gender },
          })
        })
        .catch((er) => {
          this.$swal({
            icon: 'error',
            title: 'Oops...',
            text: 'Ada teknikal error',
          })
        })
    },
  },
  head() {
    return {
      title: 'Daftar Terawih Surau As Syifa BSP21',
      description: `Daftar & Semak Secara Online `,
    }
  },
}
</script>

<style></style>
