<template>
  <carousel class="w-100pc is-small" :paginationEnabled="false" :perPage="4">
    <slide class="text-center w-100 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/18">Al- Kahfi</nuxt-link>
    </slide>
    <slide class="text-center w-50 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/32">As- Sajadah</nuxt-link>
    </slide>
    <slide class="text-center w-50 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/36">Yasin</nuxt-link>
    </slide>
    <slide class="text-center w-50 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/44">Ad- Dukhan</nuxt-link>
    </slide>
    <slide class="text-center w-50 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/56">Al- Waqiah</nuxt-link>
    </slide>
    <slide class="text-center w-50 border-radius-5 bg-grey p-1 m-1 flex flex-center line-height-1">
      <nuxt-link to="/chapter/67">Al- Mulk</nuxt-link>
    </slide>
    <slide></slide>
  </carousel>
</template>

<script>
	import { Carousel, Slide } from 'vue-carousel'
	// import VueSlickCarousel from 'vue-slick-carousel'
	// import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
	export default {
		components: {
			Carousel,
			Slide
		}
	}
</script>
