.theme-dark {
  @extend .bg-black;
  color: white;

  .header {
    @extend .bg-black;
    color: white;
  }

  .bottomnav {
    @extend .bg-black;
    @extend .text-grey;
  }

  .verse_card,
  .bookmark_parent,
  .theme_default {
    @extend .bg-grey-darkest;
    @extend .text-grey;
  }

  .bookmark_verse {
    @extend .text-grey;
  }

  .text-theme {
    @extend .text-white;
  }

  .page_control {
    @extend .bg-grey-darkest;
    @extend .text-grey;
  }

  .button_theme {
    @extend .bg-grey-darker;
    @extend .text-white;
  }
}
