.theme-white {
  @extend .bg-white;

  .header {
    @extend .bg-white;
    @extend .text-black;
  }

  .bottomnav {
    @extend .bg-grey-light;
    @extend .text-grey;
  }

  .verse_card,
  .bookmark_parent,
  .theme_default {
    @extend .bg-grey-light;
    @extend .text-black;
  }

  .bookmark_verse {
    @extend .text-black;
  }

  .text-theme {
    @extend .text-black;
  }

  .page_control {
    @extend .bg-grey-light;
    @extend .text-black;
  }

  .button_theme {
    @extend .bg-grey;
    @extend .text-black;
  }

  hr {
    border-color: black;
  }
}
