// @import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,700,900,900i&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Baloo Tamma 2';
  src: url('/fonts/BalooTamma2-Regular.ttf') format('truetype');
}

.verse_translation {
  font-family: 'Baloo Tamma 2', serif;
}

//https://omj.sgp1.digitaloceanspaces.com/suaquran/fonts/

@for $i from 1 through 604 {
  @font-face {
    font-family: p#{$i};
    src: url('https://omj.sgp1.digitaloceanspaces.com/suaquran/fonts/p#{$i}.ttf')
      format('truetype');
  }
}

@for $i from 1 through 604 {
  .p#{$i} {
    font-family: p#{$i};
    // font-weight: 100;
  }
}
