<template>
  <section>
    <!-- <div v-if="loading" class="w-100pc flex flex-center position-fixed z-index-10" style="top:30%">
      <img src="/svg/loading_big.svg" class="h-100" />
    </div>-->

    <!-- -->
    <div
      class="h-100vh w-100pc bg-purple flex flex-col flex-center text-white font-900i z-index-20 position-fixed"
      v-if="showLoadingSplash"
    >
      <img src="/svg/loading_big.svg" class="h-100" />
      <span class="font-size-20">Fetching verses..</span>
    </div>

    <client-only>
      <Cover :chapter="chapter" :verses="verses" id="v0" />
    </client-only>

    <div v-for="verse in orderBy(verses, 'verse_number')" :key="verse.id">
      <VerseSkipped :verse="verse" :chapter_id="chapter_id" />
    </div>

    <LoadMoreMemorize :chapter_id="chapter_id" :page_meta="page_meta" ref="loadMoreButton" />

    <DownloadingVerse v-if="downloadingVerses" />

    <client-only>
      <SideSetting />
    </client-only>
  </section>
</template>

<script>
	import Vue from 'vue'
	import Vue2Filters from 'vue2-filters'
	import { mapState } from 'vuex'
	const VueScrollTo = require('vue-scrollto')
	Vue.use(VueScrollTo)

	export default {
		name: 'ChapterMemorization',
		mixins: [Vue2Filters.mixin],
		data() {
			return {
				loading: false,
				downloadingVerses: false,
				current_verse_no: '#v1',
				showPageController: false,

				//for infinite scroll
				scrolledToBottom: false,
				canLoadNewData: true,
				windowHeight: 0,

				showLoadingSplash: false,

				//scroll data
				triggerTotalWindowHeight: '',
				current_scroll: ''
			}
		},
		computed: {
			...mapState({
				chapters: state => state.chapter.chapters,
				page_meta: state => state.verse.page_meta,
				current_page_meta: state => state.verse.current_page_meta
			}),

			chapter_id() {
				return this.$route.params.id
			},

			chapter() {
				return this.$store.state.chapter_info_bank[
					`chapter_` + this.chapter_id
				]
			},
			verses() {
				return this.$store.state.verse_bank[`chapter_` + this.chapter_id]
			}
		},
		components: {
			Cover: () => import('@/components/chapter/Cover'),
			VerseSkipped: () => import('@/components/chapter/VerseSkipped'),
			PageDivider: () => import('@/components/chapter/PageDivider'),
			SideSetting: () => import('@/components/chapter/SideSetting'),
			LoadMoreMemorize: () => import('@/components/chapter/LoadMoreMemorize'),
			DownloadingVerse: () => import('@/components/chapter/DownloadingVerse'),
			NextChapter: () => import('@/components/chapter/NextChapter'),
			AudioChapter: () => import('@/components/chapter/AudioChapter')
		},

		mounted() {
			//scroll events
			this.dispatchVerse()

			//fetch chapter info
			this.$store.cache.dispatch(
				'chapter/FETCH_CHAPTER',
				this.$route.params.id
			)
		},
		methods: {
			async dispatchVerse() {
				this.showLoadingSplash = true

				let parameters = {
					page: 1,
					chapter_id: this.chapter_id
				}

				await this.$store.dispatch('verse/FETCH_SKIPPED_VERSES', parameters)

				//to track latest page
				this.$store.commit('verse/UPDATE_current_page_meta', 1)

				this.showLoadingSplash = false
			},

			loadMore() {
				this.canLoadNewData = false
				this.downloadingVerses = true

				setTimeout(() => {
					let parameters = {
						page: this.page_meta.next_page,
						chapter_id: this.chapter_id
					}

					if (this.page_meta.next_page != null) {
						this.$store
							.dispatch('verse/FETCH_SKIPPED_VERSES_MORE', parameters)
							.finally(() => {
								this.canLoadNewData = true
								this.downloadingVerses = false
							})
					} else {
						this.canLoadNewData = false
						this.downloadingVerses = false
					}
				}, 500)
			}
		}
	}
</script>
