<template>
  <div>
    <h3 class="text-2xl mt-8 text-center font-heading">Alamat</h3>
    <div class="flex flex-wrap -mx-2">
      <div class="lg:w-2/3 w-full px-2 mb-3">
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="text"
          placeholder="No Rumah, Nama Bangunan/Jalan *"
          v-model="street_address"
        />
      </div>
      <div class="lg:w-1/3 w-1/2 px-2 mb-3">
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="number"
          placeholder="Poskod *"
          v-model="zipcode"
        />
      </div>
      <div class="lg:w-1/3 w-1/2  px-2">
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="text"
          placeholder="Bandar *"
          v-model="city"
        />
      </div>
      <div class="lg:w-1/3 w-1/2  px-2">
        <!-- <input
                class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
                type="text"
                placeholder="Negeri"
              /> -->

        <div class="relative">
          <select
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            name="field-name"
            v-model="state"
          >
            <option value="">Negeri</option>
            <option v-for="state in states" :key="state.id">{{
              state.name
            }}</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 w-1/2  px-2">
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="text"
          value="Malaysia"
          placeholder="Negara*"
          v-model="country"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      states: [
        { id: 1, name: 'Perlis' },
        { id: 2, name: 'Kedah' },
        { id: 3, name: 'Pulau Pinang' },
        { id: 4, name: 'Perak' },
        { id: 5, name: 'Selangor' },
        { id: 6, name: 'WP Putrajaya' },
        { id: 7, name: 'WP Kuala Lumpur' },
        { id: 8, name: 'Melaka' },
        { id: 9, name: 'Negeri Sembilan' },
        { id: 10, name: 'Pahang' },
        { id: 11, name: 'Terengganu' },
        { id: 12, name: 'Kelantan' },
        { id: 13, name: 'Johor' },
        { id: 14, name: 'Sabah' },
        { id: 15, name: 'Sarawak' },
        { id: 16, name: 'WP Labuan' },
        { id: 17, name: 'Others' }
      ]
    }
  },
  computed: {
    street_address: {
      get() {
        return this.$store.state.form_learn.street_address
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_street_address', value)
      }
    },
    state: {
      get() {
        return this.$store.state.form_learn.state
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_state', value)
      }
    },
    zipcode: {
      get() {
        return this.$store.state.form_learn.zipcode
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_zipcode', value)
      }
    },
    city: {
      get() {
        return this.$store.state.form_learn.city
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_city', value)
      }
    },
    country: {
      get() {
        return this.$store.state.form_learn.country
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_country', value)
      }
    }
  }
}
</script>

<style></style>
