<template>
  <div>
    <!-- <h3 class="text-2xl text-center font-heading">
      Maklumat Perhubungan
    </h3> -->

    <!-- name and phone -->
    <div class="flex flex-wrap mb-4 -mx-2">
      <div class="w-full px-2 my-1">
        <!-- <div class="has-text-danger is-small" v-if="!name && submitStatus">
          This Field is required
        </div> -->
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="text"
          placeholder="Nama * "
          v-model="name"
        />
      </div>
      <div class="w-full px-2 my-1">
        <!-- <div class="has-text-danger is-small" v-if="!phone && submitStatus">
          This Field is required
        </div> -->
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="text"
          placeholder="No Tel*"
          v-model="phone"
        />
      </div>
      <div class="w-full px-2 my-1">
        <!-- <div class="has-text-danger is-small" v-if="!email && submitStatus">
          This Field is required
        </div> -->
        <input
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="email"
          placeholder="Email*"
          v-model="email"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      submitStatus: false
    }
  },
  computed: {
    name: {
      get() {
        return this.$store.state.form_learn.name
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_name', value)
      }
    },

    phone: {
      get() {
        return this.$store.state.form_learn.phone
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_phone', value)
      }
    },

    email: {
      get() {
        return this.$store.state.form_learn.email
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_email', value)
      }
    }
  },
  validations: {
    name: { required },
    phone: { required },
    email: { required, email }
  },
  methods: {
    submit() {
      if (this.$v.$invalid) {
        this.submitStatus = true
      } else {
        this.submitStatus = false
        this.submitEnquiry()
      }
    }
  }
}
</script>

<style></style>
