<template>
  <div>
    <h3 class="text-xl text-center font-heading">
      Sila isikan jika anda daftar untuk orang lain
    </h3>

    <div class="flex flex-col  my-3">
      <!-- <label for="" class=" w-full ">
        <input type="checkbox" value="is_family" />
        <span class="ml-1">Daftar untuk diri sendiri sahaja</span>
      </label> -->

      <label for="" class=" w-full ">
        <input type="checkbox" value="is_family" />
        <span class="ml-1">Daftar untuk diri dan keluarga </span>
      </label>

      <label for="" class=" w-full ">
        <input type="checkbox" value="is_family" />
        <span class="ml-1">Daftar untuk orang lain </span>
      </label>

      <label for="" class=" w-full ">
        <input type="checkbox" value="is_family" />
        <span class="ml-1">Daftar untuk organisasi </span>
      </label>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
