<template>
  <div>
    <h3 class="text-2xl mt-8 text-center font-heading">Kaedah & Modul</h3>
    <!-- kaedah  -->
    <div class="flex mb-4 -mx-2">
      <div class="w-1/2 px-2">
        <div class="relative">
          <select
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            name="field-name"
            v-model="method"
          >
            <option value="">Pilih Kaedah Pembelajaran *</option>
            <option value="online">Online</option>
            <option value="offline">Offline (Datang Ke rumah)</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="w-1/2 px-2">
        <div class="relative">
          <select
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            name="field-name"
            v-model="topic"
          >
            <option value="">Pilih Modul *</option>
            <option value="iqra">Asas - Iqra</option>
            <option value="fatihah">Al-Fatihah </option>
            <option value="talaqqi">Semak bacaan surah (Talaqqi)</option>
            <option value="tajwid">Tajwid</option>
            <!-- <option>Tajwid (Pertengahan)</option> -->
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    method: {
      get() {
        return this.$store.state.form_learn.method
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_method', value)
      }
    },
    topic: {
      get() {
        return this.$store.state.form_learn.topic
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_topic', value)
      }
    }
  }
}
</script>

<style></style>
