<template>
  <div>
    <h3 class="text-2xl text-center font-heading">
      Senarai Peserta-Peserta Lain (jika ada)
    </h3>

    <div>
      <textarea
        class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
        placeholder="Cth, Ali b Ahmad, 9 tahun, Siti bt Ahmad, 12 tahun"
        rows="5"
        v-model="participants"
      >
      </textarea>
      <!-- <ParticipantField />
      <ParticipantField />
      <ParticipantField /> -->
    </div>
  </div>
</template>

<script>
// import ParticipantField from '~/components/online_learning_form/ParticipantField'
export default {
  components: {
    // ParticipantField
  },
  computed: {
    participants: {
      get() {
        return this.$store.state.form_learn.participants
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_participants', value)
      }
    }
  }
}
</script>

<style></style>
