<template>
  <div class="flex flex-wrap -mx-2">
    <div class="w-3/4 px-2 mb-3">
      <input
        class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
        type="text"
        v-model="name"
        placeholder="Nama Peserta"
      />
    </div>
    <div class="w-1/4 px-2 mb-3">
      <input
        class="appearance-none block w-full py-3 px-1 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
        type="number"
        min="5"
        max="60"
        placeholder="Umur"
        v-model="age"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      age: ''
    }
  }
}
</script>

<style></style>
