<template>
  <div>
    <h3 class="text-2xl mt-8 text-center font-heading">
      Jadual Pembelajaran
    </h3>
    <div class="flex flex-wrap mb-4 -mx-2">
      <div class="w-full px-2">
        <div class="relative">
          <select
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            name="field-name"
            v-model="commitment"
          >
            <option value="">Pilih Tempoh</option>
            <option>Seminggu 1x</option>
            <option>Seminggu 2x</option>
            <option>Seminggu 3x</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- pilhan hari -->
      <div class="text-l  bold mt-3">
        Hari Kelapangan
      </div>
      <div class="w-full px-2 p-3 bg-grey-lighter m-2 flex flex-wrap">
        <label for="" class="lg:w-1/2 w-full" v-for="day in days" :key="day.id">
          <input type="checkbox" :value="day.day" v-model="day_available" />
          <span class="ml-1">{{ day.day }}</span>
        </label>
      </div>

      <!-- pilhan masa -->
      <div class="text-l pb-2 bold mt-3">
        Waktu Kelapangan
      </div>
      <div class="w-full px-2 flex flex-wrap bg-grey-lighter p-3">
        <label
          for=""
          class="lg:w-1/2 w-full"
          v-for="time in times"
          :key="time.id"
        >
          <input type="checkbox" :value="time.time" v-model="time_available" />
          <span class="ml-1">{{ time.time }}</span>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      days: [
        { id: 1, day: 'Isnin' },
        { id: 2, day: 'Selasa' },
        { id: 3, day: 'Rabu' },
        { id: 4, day: 'Khamis' },
        { id: 5, day: 'Jumaaat' },
        { id: 6, day: 'Sabtu' },
        { id: 7, day: 'Ahad' }
      ],
      times: [
        { id: 1, time: '8.00 pg- 09.00 pg' },
        { id: 2, time: '9.00 pg- 10.00 pg' },
        { id: 3, time: '10.00 pg- 11.00 pg' },
        { id: 4, time: '11.00 pg- 12.00 tgh' },
        { id: 5, time: '12.00 tgh- 1.00 tgh' },

        // sesi ptg
        { id: 6, time: '2.00 ptg- 3.00 ptg' },
        { id: 7, time: '3.00 ptg- 4.00 ptg' },
        { id: 8, time: '5.00 ptg- 6.00 ptg' },
        { id: 9, time: '6.00 ptg- 7.00 ptg' },
        // sesi malam
        { id: 10, time: '8.30 mlm- 9.30 mlm' },
        { id: 11, time: '9.30 mlm- 10.30 lm' },
        { id: 12, time: '10.30 mlm- 11.30 mlm' }
      ],
      states: [
        { id: 1, name: 'Perlis' },
        { id: 2, name: 'Kedah' },
        { id: 3, name: 'Pulau Pinang' },
        { id: 4, name: 'Perak' },
        { id: 5, name: 'Selangor' },
        { id: 6, name: 'WP Putrajaya' },
        { id: 7, name: 'WP Kuala Lumpur' },
        { id: 8, name: 'Melaka' },
        { id: 9, name: 'Negeri Sembilan' },
        { id: 10, name: 'Pahang' },
        { id: 11, name: 'Terengganu' },
        { id: 12, name: 'Kelantan' },
        { id: 13, name: 'Johor' },
        { id: 14, name: 'Sabah' },
        { id: 15, name: 'Sarawak' },
        { id: 16, name: 'WP Labuan' },
        { id: 17, name: 'Others' }
      ]
    }
  },
  computed: {
    commitment: {
      get() {
        return this.$store.state.form_learn.commitment
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_commitment', value)
      }
    },
    day_available: {
      get() {
        return this.$store.state.form_learn.day_available
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_day_available', value)
      }
    },
    time_available: {
      get() {
        return this.$store.state.form_learn.time_available
      },
      set(value) {
        this.$store.commit('form_learn/UPDATE_time_available', value)
      }
    }
  }
}
</script>
<style></style>
