<template>
  <section>
    <!-- <div v-if="loading" class="w-100pc flex flex-center position-fixed z-index-10" style="top:30%">
      <img src="/svg/loading_big.svg" class="h-100" />
    </div>-->

    <!-- -->
    <div
      class="h-100vh w-100pc bg-purple flex flex-col flex-center text-white font-900i z-index-20 position-fixed"
      v-if="showLoadingSplash"
    >
      <img src="/svg/loading_big.svg" class="h-100" />
      <span class="font-size-20">Fetching verses..</span>
    </div>

    <client-only>
      <Cover :chapter="chapter" :verses="verses" id="v0" />
    </client-only>

    <div
      class="w-100pc flex flex-wrap text-rtl mt-2"
      att="QuranTextTruncateContainer"
    >
      <QuranTextTruncate
        :verse="verse"
        :chapter_id="chapter_id"
        v-for="verse in orderBy(verses, 'verse_number')"
        :key="verse.id"
      />
    </div>

    <LoadMore
      :chapter_id="chapter_id"
      :page_meta="page_meta"
      ref="loadMoreButton"
    />

    <DownloadingVerse v-if="downloadingVerses" />

    <!-- next chapter -->
    <NextChapter :next_chapter="next_chapter" v-if="$route.params.id < 114" />

    <!-- page controller -->
    <div
      v-if="showPageController"
      class="w-100pc flex h-50 position-fixed z-index-100"
      style="bottom: 64px; left: 0"
    >
      <AudioChapter :chapter="chapter" />

      <div class="w-150 bg-grey-dark shadow p-1 flex flex-center">
        <span class="is-small mr-2">GO TO</span>
        <select
          class="selected_verse is-small"
          v-model="current_verse_no"
          @change="goToSelectedVerseNo()"
        >
          <option
            v-for="verse_no in chapter.verses_count"
            :key="verse_no"
            :value="`#v${verse_no}`"
          >
            {{ verse_no }}
          </option>
        </select>
      </div>
    </div>

    <client-only>
      <SideSetting />
    </client-only>
  </section>
</template>

<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import { mapState } from 'vuex'
const VueScrollTo = require('vue-scrollto')
Vue.use(VueScrollTo)

export default {
  name: 'ChapterBookmark',
  mixins: [Vue2Filters.mixin],
  data() {
    return {
      loading: false,
      downloadingVerses: false,
      current_verse_no: '#v1',
      showPageController: false,

      //for infinite scroll
      scrolledToBottom: false,
      canLoadNewData: true,
      windowHeight: 0,

      showLoadingSplash: false,

      //scroll data
      triggerTotalWindowHeight: '',
      current_scroll: '',
    }
  },
  computed: {
    ...mapState({
      page_meta: (state) => state.chapter.page_meta,
      chapters: (state) => state.chapter.chapters,
      current_page_meta: (state) => state.chapter.current_page_meta,
      bookmarks: (state) => state.bookmark.bookmarks,
    }),

    next_chapter() {
      return this.chapters[this.$route.params.id]
    },

    chapter_id() {
      return this.$route.params.id
    },

    chapter() {
      return this.$store.state.chapter_info_bank[`chapter_` + this.chapter_id]
    },
    verses() {
      return this.$store.state.chapter_bank[`chapter_` + this.chapter_id]
    },
  },
  components: {
    Cover: () => import('@/components/chapter/Cover'),
    VerseNormal: () => import('@/components/chapter/VerseNormal'),
    PageDivider: () => import('@/components/chapter/PageDivider'),
    SideSetting: () => import('@/components/chapter/SideSetting'),
    LoadMore: () => import('@/components/chapter/LoadMore'),
    DownloadingVerse: () => import('@/components/chapter/DownloadingVerse'),
    NextChapter: () => import('@/components/chapter/NextChapter'),
    AudioChapter: () => import('@/components/chapter/AudioChapter'),
    QuranTextTruncate: () => import('@/components/chapter/QuranTextTruncate'),
  },

  mounted() {
    //scroll events
    this.scroll()

    // console.log(window.location.hash)
    this.bookmarkRouting()

    //show the show page controller after 2.5s
    setTimeout(() => {
      // setTimeout to put this into event queue
      this.showPageController = true
    }, 2500)

    //fetch chapter info
    this.$store.cache.dispatch('chapter/FETCH_CHAPTER', this.$route.params.id)

    //fetch bookmark
    this.$store.cache.dispatch('bookmark/INDEX')
  },
  methods: {
    bookmarkRouting() {
      if (window.location.hash) {
        //if bookmark to load is bigger than cache, we have to create loading screen
        this.downloadUntilBookmark()
      } else {
        //if not from bookmark
        window.location.hash = '#v0'
        this.downloadUntilBookmark()
      }
    },

    downloadUntilBookmark() {
      this.showLoadingSplash = true

      // console.log(`this.verses.length in cache is ${this.verses.length}`)
      let pageStartLoad = Math.floor(this.verses.length / 10) + 1
      // console.log(`pageStartLoad is ${pageStartLoad}`)

      let verseNumber = window.location.hash.substring(2)
      // console.log(`verseNumber is ${verseNumber}`)

      let pageEndLoad = Math.floor(verseNumber / 10) + 1
      // console.log(`pageEndLoad is ${pageEndLoad}`)

      if (pageStartLoad <= pageEndLoad) {
        this.dispatchVerse(pageStartLoad, pageEndLoad).then(() => {
          this.showLoadingSplash = false
          this.scrollToVerse()
        })
      } else {
        this.showLoadingSplash = false
        this.scrollToVerse()
      }
    },

    async dispatchVerse(pageStartLoad, pageEndLoad) {
      for (let i = pageStartLoad; i <= pageEndLoad; i++) {
        let parameters = {
          page: i,
          chapter_id: this.chapter_id,
        }

        await this.$store.cache.dispatch(
          'chapter/FETCH_VERSES_MORE',
          parameters
        )

        //to track latest page
        this.$store.commit('chapter/UPDATE_current_page_meta', i)
      }

      return Promise.resolve()
    },
    scrollToVerse() {
      this.$nextTick(() => {
        this.$scrollTo(window.location.hash, 100, { offset: -40 })
      })
    },

    goToSelectedVerseNo() {
      // this.$scrollTo(this.current_verse_no, 100, { offset: -40 })
      window.location.hash = this.current_verse_no

      this.downloadUntilBookmark()
    },
    loadMore() {
      this.canLoadNewData = false
      this.downloadingVerses = true

      setTimeout(() => {
        let parameters = {
          page: this.page_meta.next_page,
          chapter_id: this.chapter_id,
        }

        if (this.page_meta.next_page != null) {
          this.$store.cache
            .dispatch('chapter/FETCH_VERSES_MORE', parameters)
            .finally(() => {
              this.canLoadNewData = true
              this.downloadingVerses = false
            })
        } else {
          this.canLoadNewData = false
          this.downloadingVerses = false
        }
      }, 500)
    },
    scroll() {
      this.$nextTick(() => {
        window.onscroll = () => {
          //check if no meta, no need to download
          if (this.page_meta.next_page == null) {
            //stop loading
            this.canLoadNewData = false
            this.downloadingVerses = false
          } else {
            let totalWindowHeight = document.documentElement.offsetHeight

            //add to local data to watch
            this.windowHeight = totalWindowHeight

            this.current_scroll = Math.max(
              window.pageYOffset,
              document.documentElement.scrollTop,
              document.body.scrollTop
            )
            // console.log(`current_scroll is ${this.current_scroll}`)

            this.triggerTotalWindowHeight = 0.7 * totalWindowHeight
            // console.log(
            // 	`triggerTotalWindowHeight is ${this.triggerTotalWindowHeight}`
            // )

            //load new data
            if (this.current_scroll > this.triggerTotalWindowHeight) {
              // console.log(`this.canloadNewdata is TRUE`)
              this.canLoadNewData = true
              this.loadMore()
            }
          }
        }
      })
    },
  },
}
</script>

<style lang='scss'>
div[att='QuranTextTruncateContainer']
  div[att='quranTextTruncateChild']:first-child {
  border: 2px solid red !important;
}

div[att='QuranTextTruncateContainer']
  div[att='quranTextTruncateChild']:nth-child(10n + 1) {
  border: 2px solid teal !important;
  border-radius: 10px;
}
</style>
