<template>
  <div class='h-100vh p-5 flex flex-col flex-center'>
  

		<img src="/svg/success.svg" alt="" class="h-100" />

          <h2 class="text-5xl mt-4 mb-6 leading-tight font-heading">
            Terima Kasih atas pendaftaran anda
          </h2>
          <p>Kami akan hubungi anda semula untuk proses selanjutnya</p>
        
    </section>
  </div>
</template>

<script>
export default {
  layout: 'container_public',
  created(){
     this.$store.commit('form_learn/CLEAR_STATE')
  }
}
</script>

<style></style>
