<template>
  <div>
    <Hero />
    <div class="container mx-auto">
      <Why />
      <HowItWork />
      <Quote />
      <client-only>
        <Faq />
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Hero from '~/components/mengaji_quran_online/Hero'
import Why from '~/components/mengaji_quran_online/Why'
import HowItWork from '~/components/mengaji_quran_online/HowItWork'
import Quote from '~/components/mengaji_quran_online/Quote'
import Faq from '~/components/mengaji_quran_online/Faq'
export default {
  layout: 'fullwidth',
  components: {
    Hero,
    Why,
    HowItWork,
    Quote,
    Faq
  },
  computed: {
    ...mapState({
      user_setting: state => state.setting.user_setting
    })
  },
  head() {
    return {
      title:
        'Mengaji Quran Online dan Offline | SuaQuran.com - Aplikasi Quran Semua Dalam Satu',
      description: `Nak cari guru mengajar quran secara online atau datang ke rumah? Kami boleh bantu`,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: `Mengaji Quran Online, Talaqqi Malaysia, Cari Cikgu Quran KL Selangor, Mengaji Iqra Online`
        }
      ]
    }
  }
}
</script>

<style></style>
