<template>
  <section class="py-12 px-4">
    <link
      rel="stylesheet"
      href="https://unpkg.com/@icon/themify-icons/themify-icons.css"
    />
    <h2 class="text-3xl mb-8 text-center font-heading text-purple bold">
      Borang Pendaftaran
    </h2>

    <div class="w-full max-w-2xl mx-auto mb-8">
      <form-wizard
        color="purple"
        title=""
        subtitle=""
        @on-complete="onComplete()"
      >
        <!-- <tab-content title="Pendaftaran">
          <ForWho />
        </tab-content> -->
        <tab-content
          title="Pendaftar"
          icon="ti ti-user"
          :before-change="step1_checker"
        >
          <Contact />
          <Address />
        </tab-content>
        <tab-content title="Peserta" icon="ti ti-list">
          <!-- <ForWho /> -->
          <Participant />
        </tab-content>
        <tab-content
          title="Pembelajaran"
          icon="ti ti-book"
          :before-change="step3_checker"
        >
          <Method />
        </tab-content>
        <tab-content
          title="Jadual"
          icon="ti ti-calendar"
          :before-change="step4_checker"
        >
          <Schedule />
        </tab-content>
      </form-wizard>

      <client-only>
        <sweet-modal
          ref="form_validation"
          width="300"
          :enable-mobile-fullscreen="false"
          icon="warning"
        >
          <div class="flex flex-col w-100pc">
            Sili isi semua bahagian yang ditanda wajib *
          </div>
        </sweet-modal>
      </client-only>

      <client-only>
        <sweet-modal
          ref="form_error"
          width="300"
          :enable-mobile-fullscreen="false"
          icon="error"
        >
          <div class="flex flex-col w-100pc">
            Borang anda tidak dapat dihantar kerana masalah teknikal, sila
            hubungi kami di nombor 0197645074
          </div>
        </sweet-modal>
      </client-only>
    </div>
  </section>
</template>
<script>
import Vue from 'vue'
import VueFormWizard from 'vue-form-wizard'
// import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
Vue.use(VueFormWizard)
import { mapState } from 'vuex'
export default {
  layout: 'container_public',
  components: {
    ForWho: () => import('@/components/online_learning_form/ForWho'),
    Contact: () => import('@/components/online_learning_form/Contact'),
    Participant: () => import('@/components/online_learning_form/Participant'),
    Address: () => import('@/components/online_learning_form/Address'),
    Schedule: () => import('@/components/online_learning_form/Schedule'),
    Method: () => import('@/components/online_learning_form/Method')
    // FormWizard,
    // TabContent
  },
  computed: {
    ...mapState({
      name: state => state.form_learn.name,
      phone: state => state.form_learn.phone,
      email: state => state.form_learn.email,

      street_address: state => state.form_learn.street_address,
      city: state => state.form_learn.city,
      zipcode: state => state.form_learn.zipcode,
      state: state => state.form_learn.state,
      country: state => state.form_learn.country,

      participants: state => state.form_learn.participants,

      method: state => state.form_learn.method,
      topic: state => state.form_learn.topic,

      commitment: state => state.form_learn.commitment,
      day_available: state => state.form_learn.day_available,
      time_available: state => state.form_learn.time_available
    })
  },

  methods: {
    step1_checker() {
      if (
        this.name &&
        this.phone &&
        this.email &&
        this.street_address &&
        this.city &&
        this.zipcode &&
        this.state &&
        this.country
      ) {
        return true
      }
      this.$refs.form_validation.open()
      return false
    },
    step3_checker() {
      if (this.method && this.topic) {
        return true
      }
      this.$refs.form_validation.open()
      return false
    },

    step4_checker() {
      if (this.commitment && this.day_available && this.time_available) {
        return true
      }
      this.$refs.form_validation.open()
      return false
    },
    onComplete() {
      if (this.step1_checker && this.step3_checker && this.step4_checker) {
        const params = {
          name: this.name,
          phone: this.phone,
          email: this.email,
          participants: this.participants,
          // address
          street_address: this.street_address,
          city: this.city,
          zipcode: this.zipcode,
          state: this.state,
          country: this.country,
          //methodo
          method: this.method,
          topic: this.topic,
          // schedule
          commitment: this.commitment,
          day_available: this.day_available,
          time_available: this.time_available
        }
        this.$store
          .dispatch('form_learn/FORM_SUBMIT', params)
          .then(res => {
            console.log(res)
            this.$router.push('/mengaji_quran_online/confirm')
          })
          .catch(() => {
            this.$refs.form_error.open()
          })
      }
      this.$store.commit('form_learn/CLEAR_STATE')
    }
  }
}
</script>

<style></style>
