<template>
  <section class="py-16">
    <div class="w-full max-w-sm mx-auto">
      <h1 class="text-4xl mb-2 leading-tight font-heading">Change Password</h1>
      <form>
        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="password"
            placeholder="New Password"
            v-model="password"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="password"
            placeholder="Retype New Password"
            v-model="confirm_password"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <div
            @click="submit()"
            class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
          >
            Submit
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      password: null,
      confirm_password: null
    }
  },
  methods: {
    submit() {
      let body = {
        password: this.password,
        confirm_password: this.confirm_password
      }
      this.$store
        .dispatch('auth/CHANGE_PASSWORD', body)
        .then(res => {
          this.$toast.success('Password changed. Please relogin')
          this.$router.push('/auth/login')
        })
        .catch(err => this.$toast.error(err))
    }
  }
}
</script>

<style></style>
