<template>
  <section class="py-16">
    <div class="w-full max-w-sm mx-auto">
      <h1 class="text-4xl mb-2 leading-tight font-heading">
        Temporary Password
      </h1>
      <div class="text-grey-dark mt-2">
        Please use temporary password below to login. You may change your
        password once logged in.
      </div>

      <div
        class="bg-grey-light p-3 text-xl text-black border-radius-10 text-center m-3"
      >
        {{ temporary_password }}
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'container_public',
  data() {
    return {
      temporary_password: ''
    }
  },
  created() {
    this.generate_temporary_password()
  },
  methods: {
    generate_temporary_password() {
      this.$store
        .dispatch('auth/CONFIRM_RESET_PASSWORD', {
          email: this.$route.query.email,
          id: this.$route.query.id
        })
        .then(res => {
          this.temporary_password = res.temporary_password
        })
        .catch(err => {
          this.$toast.error(err)
        })
    }
  }
}
</script>

<style></style>
