<template>
  <client-only>
    <sweet-modal
      ref="form_error"
      width="300"
      :enable-mobile-fullscreen="false"
      icon="error"
    >
      <div class="flex flex-col w-100pc">
        Borang anda tidak dapat dihantar kerana masalah teknikal, sila hubungi
        kami di nombor 0197645074
      </div>
    </sweet-modal>
  </client-only>
</template>

<script>
export default {}
</script>

<style>
</style>