<template>
  <section class="py-16">
    <div class="w-full max-w-sm mx-auto">
      <h1 class="text-4xl mb-2 leading-tight font-heading">Forgot Password</h1>
      <div class="text-grey-dark mt-2">
        We will send confirmation to reset to this email
      </div>
      <form>
        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="email"
            v-model="email"
            placeholder="Email"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <div
            @click="submit()"
            class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
          >
            Submit
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'container_public',
  data() {
    return {
      email: ''
    }
  },
  methods: {
    submit() {
      this.$store
        .dispatch('auth/RESET_PASSWORD', { email: this.email })
        .then(res => {
          this.$toast.success(
            'Please check your email now to reset your password',
            { duration: 1000 * 60 * 5 }
          )
          // this.$router.push('/')
        })
        .catch(err => {
          this.$toast.error(err)
        })
    }
  }
}
</script>

<style></style>
