<template>
  <section class="py-16">
    <div class="w-full max-w-sm mx-auto">
      <h1 class="text-4xl mb-2 leading-tight font-heading">Daftar</h1>
      <form>
        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="text"
            v-model="name"
            placeholder="Nama"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="email"
            v-model="email"
            placeholder="Email"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="password"
            placeholder="Password"
            v-model="password"
            autocomplete="off"
            style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");'
          />
        </div>

        <div class="mb-4">
          <label class="text-gray-500">
            <input class="mr-2 leading-tight" type="checkbox" checked />
            <span class="text-sm"
              >Langgan Maklumat & Perkembangan Terbaru
            </span>
          </label>
        </div>

        <div class="mb-4">
          <div
            @click="submitRegister()"
            class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
          >
            Daftar
          </div>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'container_public',
  data() {
    return {
      email: '',
      password: '',
      name: ''
    }
  },
  methods: {
    submitRegister() {
      console.log('click')

      this.$store
        .dispatch('auth/REGISTER', {
          email: this.email,
          password: this.password,
          name: this.name
        })
        .then(res => {
          this.$toast.success('Registration Success, Please login')
          this.$router.push('/auth/login')
        })
        .catch(err => {
          // console.log(err)
          this.$toast.error(err)
        })
    }
  }
}
</script>

<style></style>
