<template>
  <div class="h-100vh flex flex-col flex-center">
    <h1 class="text-4xl mb-2 leading-tight font-heading">Verify Email</h1>

    <div
      v-if="status == 'loading'"
      class="lg:w-1/2 w-full flex flex-col flex-center"
    >
      <img src="/svg/loading_circle.svg" class="h-100" />
    </div>

    <div
      v-if="status == 'success'"
      class="lg:w-1/2 w-full flex flex-col flex-center"
    >
      <img src="/svg/success.svg" class="h-100 my-3" />
      <p>Email anda telah disahkan</p>
    </div>

    <div
      v-if="status == 'failed'"
      class="lg:w-1/2 w-full flex flex-col flex-center"
    >
      <img src="/svg/error-black.svg" class="h-100 my-3" />
      <p>Email anda tidak dapat disahkan</p>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'container_public',
  data() {
    return {
      status: 'loading'
    }
  },
  created() {
    console.log(this.$route.query.verification_code)
    this.$store
      .dispatch('auth/VERIFY', this.$route.query.verification_code)
      .then(res => (this.status = 'success'))
      .catch(err => (this.status = 'failed'))
  }
}
</script>

<style></style>
