.bg-size-cover {
  background-size: cover;
}
.bg-size-contain {
  background-size: contain;
}
.bg-position-bottom {
  background-position: bottom;
}
.bg-position-top-right {
  background-position: top right;
}
.bg-position-top-left {
  background-position: top left;
}
.bg-position-top-center {
  background-position: top center;
}
.bg-position-center {
  background-position: center;
}
.bg-repeat-no {
  background-repeat: no-repeat;
}
.bg-fixed {
  background-attachment: fixed;
}
