/**
 *
 * PX HEIGHT
 *
 */
.h-auto {
  height: auto;
}

@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100',
  '150', '200', '250', '300', 350, 400, 500, 550, 600, 700, 800
{
  .h-#{$height} {
    height: #{$height}px;
  }
}

/**
 *
 * PX- MIN HEIGHT
 * .h-10px, .h-20px
 */
@each $height in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 130, 150, 200, 250,
  300, 350, 400, 500, 600, 700, 800, 1000
{
  .h-min-#{$height} {
    min-height: #{$height}px;
  }
}

/**
 *
 * EM HEIGHT
 *
 */

@each $height in 1, 2, 3, 4 {
  .h-#{$height}em {
    height: #{$height}em;
  }
}

/**
 *
 * em- MIN HEIGHT
 * .h-min-1em
 */
@each $height in 1, 2, 3, 4 {
  .h-min-#{$height}em {
    min-height: #{$height}em;
  }
}

/**
 *
 * em- MAX HEIGHT
 * .h-max-2em,
 */
@each $height in 1, 2, 3, 4 {
  .h-max-#{$height}em {
    max-height: #{$height}em;
  }
}

/**
 *
 * VH - HEIGHT
 * .h-100vh, h-50vh
 */
@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100' {
  .h-#{$height}vh {
    height: #{$height}vh;
  }
}

/**
 *
 * VH MIN HEIGHT
 * .h-min-50vh...
 */
@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100' {
  .h-min-#{$height}vh {
    min-height: #{$height}vh;
  }
}

/***********************************----------------------
 *
 * MOBILE SETTING
 *
 */

.h-auto-mobile {
  @include xs {
    height: auto;
  }
}

@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100',
  '150', '200', '250', '300', 350, 400, 450, 500
{
  .h-#{$height}-mobile {
    @include xs {
      height: #{$height}px;
    }
  }
}

@each $height in '10', '20', '30', '40', '50', '55', '60', '70', '80', '90',
  '100'
{
  .h-#{$height}vh-mobile {
    @include xs {
      height: #{$height}vh;
    }
  }
}

/**********************************----------------------
 *
 * TABLET SETTING
 *
 */

.h-auto-tablet {
  @include md {
    height: auto;
  }
}

@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100',
  '150', '200', '250', '300', 350, 400, 450, 500
{
  .h-#{$height}-tablet {
    @include md {
      height: #{$height}px;
    }
  }
}

@each $height in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100' {
  .h-#{$height}vh-tablet {
    @include md {
      height: #{$height}vh;
    }
  }
}

// special

.h-calon {
  @include xs {
    height: calc(80vh - 5em);
  }
}

.h-bottom-bar {
  height: 5em;
}
