// Extra small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: 575px) {
    @content;
  }
}

// Medium devices (tablets, 768px and up)
@mixin md {
  @media (min-width: 576px) and (max-width: 1024px) {
    @content;
  }
}

//  default: (desktops, 1025px and up)
@mixin lg {
  @media (min-width: 1025px) {
    @content;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
