.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-inherit {
  position: inherit;
}

.position-top-left {
  top: 0;
  left: 0;
}

.position-top-right {
  top: 0;
  right: 0;
}

.position-bottom-left {
  bottom: 0;
  left: 0;
}

.position-bottom-right {
  bottom: 0;
  right: 0;
}

// mix
.position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@each $index in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .z-index-#{$index} {
    z-index: #{$index};
  }
}
