/**
 *
 * FONT SIZE PX
 *
 */

@each $font-size in 6, 8, 9, 10, 12, 14, 16, 20, 24, 26, 30, 36, 40, 50 {
  .font-size-#{$font-size} {
    font-size: #{$font-size}px;
  }
}

//mobile
@each $font-size in 6, 8, 9, 10, 12, 14, 16, 20 {
  .font-size-#{$font-size}-mobile {
    @include xs {
      font-size: #{$font-size}px;
    }
  }
}

/**
 *
 * FONT SIZE REM
 *
 */

@each $font-size in 0.5, 0.7, 0.9, 1, 1.2, 1.4, 1.6, 1.8, 2, 2.2, 2.4, 2.6, 2.8,
  3
{
  .font-size-#{$font-size}-rem {
    font-size: #{$font-size}rem;
  }
}

//mobile
@each $font-size in 0.5, 0.7, 0.9, 1, 1.2, 1.4, 1.6, 1.8, 2, 2.2, 2.4, 2.6, 2.8,
  3
{
  .font-size-#{$font-size}-rem-mobile {
    @include xs {
      font-size: #{$font-size}rem;
    }
  }
}

.is-small {
  font-size: 0.8em;
}

.is-small-x2 {
  font-size: 0.6em;
}

// FONT WEIGHT
.bold {
  font-weight: bold;
}

.font-200 {
  font-weight: 200;
}

.font-700 {
  font-weight: 700;
}
.font-900 {
  font-weight: 900;
}
.font-900i {
  font-weight: 900;
  font-style: italic;
}

.font-italic {
  font-style: italic;
}

// line height
.line-height-1 {
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//shadow
.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.text-shadow-white {
  text-shadow: 2px 2px 4px #fff;
}

.text-rtl {
  direction: rtl;
}

.overflow-hidden {
  overflow: hidden;
}

.primary-font {
  font-family: 'Montserrat', sans-serif;
}
