/**
 *
 * WIDTH PERCENTAGE
 *
 */

.w-100pc {
  width: 100%;
  overflow-x: hidden !important;
}

//for all
//e.g w-20pc, w-50pc
@each $width in 0.1, 0.2, 0.25, 0.3, 0.33, 0.4, 0.45, 0.46, 0.48, 0.5, 0.6, 0.7,
  0.8, 0.9, 1
{
  $percentage: $width * 100;
  .w-#{$percentage}pc {
    width: percentage($width);
  }
}

// WIDTH - PX
/**
 *
 * .w-100, .w-200
 *
 */
@each $width in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100', 150,
  '200', '300', 350, '400', '500', '600', '700', '800', '900', '1000', '1100',
  '1200'
{
  .w-#{$width} {
    width: #{$width}px;
  }
}

/**
 *
 * MIN WIDTH -px
 * .w-min-200
 */
@each $width in '100', 150, '200', '300', '400', '500', '600', '700', '800',
  '900'
{
  .w-min-#{$width} {
    min-width: #{$width}px;
  }
}

/**
 *
 * MAX WIDTH -px
 *
 */
@each $width in '100', 150, '200', '300', '400', '500', '600', '700', '800',
  '900'
{
  .w-max-#{$width} {
    max-width: #{$width}px;
  }
}

/***********************************----------------------
 *
 * MOBILE SETTING
 *
 */

// e,g w-20-mobile
@each $width in '10', '20', '30', '40', '50', '60', '70', '80', '90', '100',
  '150', '200', '250', '300', 350, 400, 450, 500
{
  .w-#{$width}-mobile {
    @include xs {
      width: #{$width}px;
    }
  }
}

//e.g w-100pc-mobile, w-50pc-mobile
@each $width in 0.1, 0.2, 0.25, 0.3, 0.4, 0.45, 0.5, 0.6, 0.7, 0.8, 0.9, 1 {
  $percentage: $width * 100;
  .w-#{$percentage}pc-mobile {
    @include xs {
      width: percentage($width);
    }
  }
}

/**********************************----------------------
 *
 * TABLET SETTING
 *
 */
//e.g w-100pc-tablet, w-50pc-tablet
@each $width in 0.1, 0.2, 0.25, 0.3, 0.4, 0.45, 0.5, 0.6, 0.7, 0.8, 0.9, 1 {
  $percentage: $width * 100;
  .w-#{$percentage}pc-tablet {
    @include md {
      width: percentage($width) !important;
    }
  }
}
