<template>
  <div class="bg-white border-radius-10 p-5">
    <h1 class="font-size-20 bold">Data Deletion Instruction</h1>

    <p class="mt-3">
      You can safely delete your data by following the instruction below:-
    </p>

    <ol class="mt-3">
      <li>
        1- Firstly, please login with any social login platform or by email
      </li>
      <li>
        2 -Once logged in, click the 'MORE' button in the bottom navigation.
      </li>
      <li>3- Click the Delete Account button and proceed with Yes.</li>
      <li>4- Finished. All you data has been deleted from our database</li>
    </ol>
  </div>
</template>

<script>
export default {
  layout: 'public',
}
</script>

<style  scoped>
li {
  padding-bottom: 10px;
}
</style>>
