<template>
  <div>
    <!-- <Header class="h-2em" /> -->
    <div class="w-100pc">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '~/components/layouts/Header'
export default {
  components: { Header },
  async mounted() {
    const workbox = await window.$workbox
    if (workbox) {
      workbox.addEventListener('installed', (event) => {
        if (event.isUpdate) {
          this.$toast.info('New version found.', {
            position: 'bottom-center',
            duration: 60 * 60 * 60,
            closeOnSwipe: false,
            action: {
              text: 'Update Now',
              onClick: (e, toastObject) => {
                location.reload()
                toastObject.goAway(0)
              },
            },
          })
        }
      })
    } else {
      console.log('no workbox')
    }
  },
}
</script>
