<template>
  <div class="flex flex-col h-100vh flex-center w-100pc">
    <nuxt />
  </div>
</template>

<script>
export default {
  components: {},
  middleware: 'is_authenticated',
  async mounted() {
    const workbox = await window.$workbox
    if (workbox) {
      workbox.addEventListener('installed', event => {
        if (event.isUpdate) {
          this.$toast.info('New version found.', {
            position: 'bottom-center',
            duration: 60 * 60 * 60,
            closeOnSwipe: false,
            action: {
              text: 'Update Now',
              onClick: (e, toastObject) => {
                location.reload()
                toastObject.goAway(0)
              }
            }
          })
        }
      })
    } else {
      console.log('no workbox')
    }
  }
}
</script>
