<template>
  <div>
    <div class="container mx-auto">
      <nuxt />
    </div>
  </div>
</template>

<script>
// import MobileNav from '~/components/layouts/MobileNav'
import Header from '~/components/layouts/Header'
import { mapState } from 'vuex'
export default {
  name: 'ContainerPublic',
  components: {
    // MobileNav,
    Header,
  },

  data() {
    return {
      windowHeight: '100vh',
    }
  },
  computed: {
    ...mapState({
      theme: (state) => state.setting.user_setting.theme,
    }),
  },
  mounted() {
    this.windowHeight = window.innerHeight
    console.log(this.windowHeight)
  },
}
</script>

<style>
html,
body {
  overscroll-behavior: none !important;
}
</style>
