<template>
  <div
    class="flex flex-col"
    :class="theme == 'dark' ? `theme-dark` : `theme-white`"
    :style="{ 'min-height': `${windowHeight}px` }"
  >
    <!-- <Header class="h-2em" /> -->
    <div
      :style="{
        paddingBottom: '6em'
      }"
    >
      <nuxt />
    </div>
    <!-- <MobileNav class="h-4em w-100pc position-fixed position-bottom-left" /> -->
  </div>
</template>

<script>
import MobileNav from '~/components/layouts/MobileNav'
import Header from '~/components/layouts/Header'
import { mapState } from 'vuex'
export default {
  name: 'DefaultLayout',
  components: {
    MobileNav,
    Header
  },

  data() {
    return {
      windowHeight: '100vh'
    }
  },
  computed: {
    ...mapState({
      theme: state => state.setting.user_setting.theme
    })
  },
  mounted() {
    this.windowHeight = window.innerHeight
    console.log(this.windowHeight)
  }
}
</script>

<style>
html,
body {
  overscroll-behavior: none !important;
}
</style>
