<template>
  <div
    style="
      background-color: #000000;
      background-image: linear-gradient(328deg, #000000 0%, #7215c8 67%);
    "
  >
    <Header class="h-2em" />
    <div class="flex flex-col h-100vh flex-center w-100pc">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '~/components/layouts/Header'
export default {
  components: { Header },
}
</script>
