<template>
  <div
    class="position-absolute position-top-right pr-2 clickable flex flex-col"
    style="padding-top:100px"
  >
    <!-- <span>Total duration: {{ duration }} seconds</span> -->
    <!-- <span v-if="progress">Progress: {{ (progress * 100) }}%</span> -->

    <div class="mb-3">
      <img src="/svg/loading-3line.svg" class="h-30" v-if="isLoading " />
      <img src="/svg/play-grey.svg" class="h-30" v-if="!isLoading && !isPlaying" @click="play()" />

      <img src="/svg/pause.svg" class="h-30" v-if="isPlaying && !isPause" @click="pause()" />
      <img src="/svg/play-button.svg" class="h-30" v-if="isPlaying && isPause" @click="resume()" />
    </div>

    <img src="/svg/stop.svg" class="h-30" v-if="isPlaying && !isPause" @click="stop()" />

    <!-- <button  class="bg-blue h-20 clickable my-2" v-if="playing">Stop</button> -->
  </div>
</template>

<script>
	// import VueHowler from 'vue-howler'
	import { Howl, Howler } from 'howler'

	export default {
		name: 'AudioPlayer',
		props: ['sources'],
		data() {
			return {
				soundId: '',
				isLoading: false,
				isPlaying: false,
				isPause: false
			}
		},
		methods: {
			initialize() {
				// Setup the new Howl.
				const sound = new Howl({
					src: this.sources
				})

				this.soundId = sound
			},

			play() {
				this.initialize()

				this.isLoading = true
				this.soundId.play()

				this.soundId.on('play', () => {
					this.isPlaying = true
					this.isLoading = false
					this.isPause = false
				})

				// Fires when the sound finishes playing.
				this.soundId.on('end', () => {
					console.log('Finished!')
					this.isPlaying = false
					this.isLoading = false
					this.isPause = false
				})
			},

			pause() {
				this.isPause = true
				this.isPlaying = true

				this.soundId.pause()
			},

			resume() {
				this.isPause = true
				this.isPlaying = true

				this.soundId.play()
			},

			stop() {
				this.isPlaying = false
				this.isPause = false
				this.isLoading = false

				this.soundId.stop()
			}
		}
	}
</script>