<template>
  <div class="flex-1 bg-grey-darker flex flex-center h-50">
    <!-- <img src="/svg/audio_previous.svg" class="h-20" style="opacity:0.5" @click="prevAudio()" /> -->

    <img src="/svg/stop.svg" class="h-30" v-if="isPlaying && !isPause" @click="stop()" />

    <img src="/svg/loading-3line.svg" class="h-40 mx-4" v-if="isLoading " />
    <img src="/svg/pause.svg" class="h-40 mx-4" v-if="isPlaying && !isPause" @click="pause()" />
    <img
      src="/svg/play-button.svg"
      class="h-40 mx-2 clickable"
      v-if="!isLoading && !isPlaying"
      @click="play()"
    />
    <div class="is-small line-height-1 clickable" v-if="!isLoading && !isPlaying" @click="play()">
      Play Full Audio
      <br />Recite by
      <span class="bold">Alafasy</span>
    </div>
    <img src="/svg/play-button.svg" class="h-40 mx-4" v-if="isPlaying && isPause" @click="resume()" />

    <!-- <img src="/svg/audio_next.svg" class="h-20" style="opacity:0.5" @click="nextAudio()" /> -->
  </div>
</template>

<script>
	import { Howl, Howler } from 'howler'
	export default {
		name: 'AudioChapter',
		props: ['chapter'],
		created() {
			this.generatePlaylist()

			Howler.stop()
			// this.checkAudioState()
		},
		data() {
			return {
				soundId: '',
				isLoading: false,
				isPlaying: false,
				isPause: false,
				currentPlay: 0,
				playlist: []
			}
		},

		methods: {
			generatePlaylist() {
				let chapterCode = this.pad(this.chapter.id, 3)

				for (let i = 1; i <= this.chapter.verses_count; i++) {
					let verseCode = this.pad(i, 3)
					let audio_item = `${process.env.BASE_URL}/api/Alafasy/mp3/${chapterCode}${verseCode}.mp3`
					this.playlist.push(audio_item)
				}
			},
			pad(num, size) {
				//generate zero leading code
				var s = num + ''
				while (s.length < size) s = '0' + s
				return s
			},
			prevAudio() {
				this.currentPlay--
				this.play()
			},
			nextAudio() {
				if (this.currentPlay < this.chapter.verses_count - 1) {
					this.isLoading = true
					this.currentPlay++
					this.play()
				} else {
					this.isPlaying = false
					this.isLoading = false
					this.isPause = false
					//if ending start from zero again
					this.currentPlay = 0
				}
			},
			initialize() {
				// Setup the new Howl.
				const sound = new Howl({
					src: this.playlist[this.currentPlay]
				})

				this.soundId = sound
			},

			play() {
				this.initialize()

				this.bookmarkRouting()

				this.isLoading = true
				this.soundId.play()

				this.soundId.on('play', () => {
					this.isPlaying = true
					this.isLoading = false
					this.isPause = false
				})

				// Fires when the sound finishes playing.
				this.soundId.on('end', () => {
					this.isPlaying = false
					this.isLoading = false
					this.isPause = false
					this.nextAudio()
				})
			},
			bookmarkRouting() {
				window.location.hash = `#v${this.currentPlay + 1}`

				this.$scrollTo(window.location.hash, 100, { offset: -40 })
			},

			pause() {
				this.isPause = true
				this.isPlaying = true

				this.soundId.pause()
			},

			resume() {
				this.isPause = true
				this.isPlaying = true

				this.soundId.play()
			},

			stop() {
				//if ending start from zero again
				this.currentPlay = 0

				this.isPlaying = false
				this.isPause = false
				this.isLoading = false

				this.soundId.stop()
			}
		}
	}
</script>

<style>
</style>