<script>
	import VueHowler from 'vue-howler'

	export default {
		mixins: [VueHowler]
	}
</script>

<template>
  <div
    class="w-100 w-100pc-mobile flex justify-between items-center bg-grey-light h-50 border-radius-10 mt-3 opacity-6 p-2"
  >
    <!-- <span>Total duration: {{ duration }} seconds</span> -->
    <!-- <span v-if="progress!=1">Progress: {{ (progress * 100) }}%</span> -->

    <div @click="togglePlayback" class="flex">
      <img src="/svg/pause.svg" class="h-30" v-if="playing" />
      <img src="/svg/play-grey.svg" class="h-30" v-if="!playing" />
    </div>
    <img src="/svg/stop.svg" class="h-30" v-if="playing" @click="stop" />

    <!-- <button  class="bg-blue h-20 clickable my-2" v-if="playing">Stop</button> -->
  </div>
</template>
