<template>
  <div class="w-50pc-mobile w-25pc flex flex-col flex-center p-1" v-if="chapter">
    <div
      class="bg-grey-light w-100pc h-200 flex flex-center flex-col position-relative border-radius-10 bg-cover bg-position-center"
      :style="{ backgroundImage: `url(${chapter.image_url_medium})` }"
    >
      <!-- clickable area -->
      <div
        class="position-absolute position-top-left h-200 w-100pc clickable"
        @click="goToChapter(chapter)"
      ></div>

      <div
        class="position-absolute position-top-left pl-2 pt-2 text-white flex flex-col flex-center line-height-1 clickable"
        @click="goToChapter(chapter)"
      >
        <span class="is-small">No.</span>
        <span class="font-size-30">{{ chapter.id }}</span>
      </div>

      <div
        class="position-absolute position-top-right pr-2 pt-2 text-white flex flex-col line-height-1 flex-center clickable"
        @click="goToChapter(chapter)"
      >
        <span class="is-small">Verses</span>
        <span class="font-size-20">{{ chapter.verses_count }}</span>
      </div>

      <div
        class="position-absolute position-bottom-left pl-2 pb-2 text-white flex flex-col line-height-1 clickable"
        @click="goToChapter(chapter)"
      >
        <div class="font-size-20 text-shadow text-white">{{ chapter.name_arabic }}</div>
        <div
          class="text-shadow text-white font-900i font-size-24 primary-font"
        >{{ chapter.name_simple }}</div>
        <div class="is-small text-shadow text-white">{{ chapter.name_malay }}</div>
      </div>

      <div
        class="position-absolute position-bottom-right pr-2 pb-2 text-white flex flex-col line-height-1 flex-center z-index-30 clickable"
      >
        <img
          src="/svg/love.svg"
          class="h-20"
          v-if="!chapter.is_favourite && !isFav"
          @click="addFavourite(chapter.id)"
        />
        <img
          src="/svg/love-red.svg"
          class="h-20"
          v-if="chapter.is_favourite || isFav"
          @click="unFavourite(chapter.id)"
        />
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: 'Card',
		props: ['chapter'],
		data() {
			return {
				isFav: false
			}
		},

		methods: {
			goToChapter(chapter) {
				// console.log('asdads')
				this.$router.push('/chapter/' + chapter.id)
			},
			addFavourite(chapterId) {
				this.$store
					.dispatch('favourite/STORE', chapterId)
					.then(res => {
						this.isFav = true
						this.$toast.success('Favourite Added')

						//clear cache
						this.$store.cache.delete('chapter/FETCH_CHAPTERS')
						this.$store.cache.delete('favourite/INDEX')
						this.$store.cache.dispatch('favourite/INDEX')
					})
					.catch(err => {
						this.$toast.error('Fail to add favourite')
					})
			},
			unFavourite(chapterId) {
				this.$store
					.dispatch('favourite/REMOVE', chapterId)
					.then(res => {
						this.isFav = false
						this.$toast.success('Removed Favorite')

						//clear cache
						this.$store.cache.delete('chapter/FETCH_CHAPTERS')
						this.$store.cache.delete('favourite/INDEX')
						this.$store.cache.dispatch('favourite/INDEX')
					})
					.catch(err => {
						this.$toast.error('Fail to remove favourite')
					})
			}
		}
	}
</script>
