<template>
  <div class="w-100pc-mobile w-50pc flex flex-col flex-center p-1 clickable" v-if="!remove">
    <div
      class="bg-grey-light w-100pc h-150 flex flex-center flex-col position-relative border-radius-10 bg-cover bg-position-center"
      :style="{ backgroundImage: `url(${favourite.chapter.image_url_large})` }"
    >
      <!-- clickable area -->
      <div
        class="position-absolute position-top-left h-150 w-100pc clickable"
        @click="goToChapter(favourite.chapter)"
      ></div>

      <!-- chapter no -->
      <div
        class="position-absolute position-top-left pl-2 pt-2 text-white flex flex-col flex-center line-height-1 clickable"
        @click="goToChapter(favourite.chapter)"
      >
        <span class="is-small">No.</span>
        <span class="font-size-30">{{ favourite.chapter.id }}</span>
      </div>

      <!-- verse -->
      <div
        class="position-absolute position-top-right pr-2 pt-2 text-white flex flex-col line-height-1 flex-center clickable"
        @click="goToChapter(favourite.chapter)"
      >
        <span class="is-small">Verses</span>
        <span class="font-size-20">{{ favourite.chapter.verses_count }}</span>
      </div>

      <div
        class="position-absolute position-bottom-right pr-2 pb-2 text-white flex flex-col line-height-1 flex-center z-index-9"
        @click="unFavourite(favourite.chapter.id)"
      >
        <img src="/svg/love-red.svg" class="h-20" />
      </div>

      <div
        class="position-absolute position-bottom-left pl-2 pb-2 text-white flex flex-col line-height-1 clickable"
        @click="goToChapter(favourite.chapter)"
      >
        <div class="font-size-20 text-shadow text-white">{{ favourite.chapter.name_arabic }}</div>
        <div
          class="text-shadow text-white font-900i font-size-24 primary-font"
        >{{ favourite.chapter.name_simple }}</div>
        <div class="is-small text-shadow text-white">{{ favourite.chapter.name_malay }}</div>
      </div>
    </div>
  </div>
</template>

<script>
	export default {
		name: 'CardFav',
		props: ['favourite'],
		data() {
			return {
				remove: false
			}
		},
		methods: {
			goToChapter(chapter) {
				this.$router.push('/chapter/' + chapter.id)
			},
			unFavourite(chapterId) {
				this.$store
					.dispatch('favourite/REMOVE', chapterId)
					.then(res => {
						this.remove = true
						this.$toast.success('Removed')

						this.$store.cache.delete('favourite/INDEX')
						this.$store.cache.dispatch('favourite/INDEX')
					})
					.catch(err => {
						this.$toast.error('Fail to remove')
					})
			}
		}
	}
</script>

<style></style>
