<template>
  <div class="w-300 flex flex-col mb-3">
    <div class="flex justify-between">
      <!-- <h3 class="bold mr-3">Theme</h3> -->
      <span
        class="flex flex-1 flex-col flex-center mb-2 clickable p-1 border-radius-5 is-small mr-3"
        @click="changeTheme('white')"
        :class=" theme=='white' ? 'bg-white text-black' : ''  "
      >
        <img src="/img/white.png" class="h-10 border-radius-50 shadow" />
        White Theme
      </span>

      <span
        class="flex flex-1 flex-col flex-center mb-2 clickable p-1 border-radius-5 is-small"
        @click="changeTheme('dark')"
        :class=" theme=='dark' ? 'bg-white text-black' : ''  "
      >
        <img src="/img/dark.png" class="h-10 border-radius-50 shadow" />
        Dark Theme
      </span>

      <!-- <span
        class="flex flex-col flex-center clickable p-1 border-radius-5 is-small"
        @click="changeTheme('colors')"
        :class=" theme=='colors' ? 'bg-white text-black' : ''  "
      >
        <img src="/img/colors.png" class="h-10 border-radius-50 shadow" />
        Color
      </span>-->
    </div>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
		name: 'ColorSetting',
		computed: {
			...mapState({
				theme: state => state.setting.user_setting.theme
			})
		},
		methods: {
			changeTheme(theme) {
				this.$store.commit('setting/UPDATE_theme', theme)
				this.isActive
			},
			isActive(selectTheme) {
				if (selectTheme == this.theme) {
					return true
				}
			}
		}
	}
</script>

<style>
</style>