<template>
  <div
    class="h-60vh bg-grey w-100pc flex flex-col flex-center position-relative p-5 text-center border-radius-10 bg-cover bg-position-center mt-3"
    :style="{ backgroundImage: `url(${chapter.image_url_large})` }"
  >
    <!-- chapter code and verses no -->
    <div class="text-center position-absolute position-bottom-left ml-3">
      <div class="flex justify-between items-start w-100pc">
        <div class="pr-3 text-white flex flex-col flex-center line-height-1">
          <span class="is-small">chapter</span>
          <span class="font-size-30">{{ chapter.id }}</span>
        </div>

        <div
          class="text-white flex flex-col line-height-1 flex-center overflow-none"
        >
          <span class="is-small">Verses</span>
          <span class="font-size-30">{{ chapter.verses_count }}</span>
        </div>
      </div>

      <!-- chapter name -->
      <div class="pb-4 text-left w-100pc">
        <div class="font-size-20 text-white text-shadow">
          {{ chapter.name_arabic }}
        </div>
        <div
          class="font-size-40 text-white text-shadow font-900i line-height-1"
        >
          {{ chapter.name_simple }}
        </div>

        <div
          class="is-small text-white text-shadow mt-0"
          v-if="chapter.chapter_translation"
        >
          {{ chapter.chapter_translation.name }}
        </div>
      </div>
    </div>

    <div class="text-center position-absolute position-bottom-right mr-3 mb-3">
      <div class="flex flex-col-mobile">
        <div
          class="w-100 text-center flex flex-col flex-center theme_default border-radius-10 p-2 shadow clickable m-1"
          @click="$router.push(`/chapter/${chapter.id}`)"
        >
          <img src="/svg/layout_list.svg" class="w-40 pb-2" />
          <p class="line-height-1 is-small">Read Mode</p>
        </div>

        <div
          class="w-100 text-center flex flex-col flex-center theme_default border-radius-10 p-2 shadow clickable m-1"
          @click="$router.push(`/memory_mode/${chapter.id}`)"
        >
          <img src="/svg/layout_grid.svg" class="w-40 pb-2" />
          <p class="line-height-1 is-small">Memory Mode</p>
        </div>

        <!-- <div
          class="w-100 text-center flex flex-col flex-center theme_default border-radius-10 p-2 shadow clickable m-1"
          @click="$router.push(`/grid/${chapter.id}`)"
        >
          <img src="/svg/grid.svg" class="w-50 pb-2" />
          <p class="line-height-1 is-small">Two Col Layout</p>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cover',
  props: ['chapter', 'verses'],
  data() {
    return {
      placeholderImage:
        'https://auudwpoeen.cloudimg.io/v7/https://omj.sgp1.digitaloceanspaces.com/suaquran/back_blur.jpg?width=100&blur=6',
    }
  },
  computed: {
    verses_audio() {
      let verses_code = []
      let verses_count = this.chapter.verses_count
      for (let verse_no = 1; verse_no <= verses_count; verse_no++) {
        //generate verses code in format 001007
        let code = this.$options.filters.chapter_verse_code(
          this.chapter.id,
          verse_no,
          3
        )

        let fullpath = `${process.env.BASE_URL}/api/Alafasy/mp3/${code}.mp3`
        verses_code.push(fullpath)
      }

      return verses_code
    },
  },

  methods: {
    // scroll() {
    // 	var elmnt = document.getElementById('cuba')
    // 	elmnt.scrollIntoView()
    // }
  },
  mounted() {
    console.log(this.$route.path)
  },
}
</script>

<style>
.audio-player .audio__btn-wrap .audio__play__icon {
  color: aliceblue !important;
}
</style>