<template>
  <div class="w-100pc p-1 text-white border-radius-10 flex flex-center my-3">
    <img src="/svg/loading-3line.svg" class="h-30" />
    <span>Downloading verses...</span>
  </div>
</template>

<script>
	export default {}
</script>

<style>
</style>