<template>
  <div
    class="bg-blue text-center border-radius-5 m-2 h-50 clickable flex flex-center"
    @click="loadMore()"
    v-if="page_meta.next_page"
  >Load More</div>
</template>

<script>
	export default {
		name: 'Loadmore',
		props: ['chapter_id', 'page_meta'],
		methods: {
			loadMore() {
				let parameters = {
					page: this.page_meta.next_page,
					chapter_id: this.chapter_id
				}
				this.$store.dispatch('verse/FETCH_SKIPPED_VERSES_MORE', parameters)
			}
		}
	}
</script>

<style>
</style>