<template>
  <div class="w-100pc h-150 my-2 flex flex-center">
    <div
      class="bg-grey-light w-200 h-100 flex flex-center flex-col position-relative border-radius-10 bg-cover bg-position-center mx-2 clickable"
      :style="{ backgroundImage: `url(${next_chapter.image_url_medium})` }"
      @click="$router.push(`/chapter/${next_chapter.chapter_id}`)"
    ></div>

    <div
      class="border-radius-10 bg-purple h-100 flex flex-col flex-center p-2 clickable"
      @click="$router.push(`/chapter/${next_chapter.chapter_id}`)"
    >
      <span class="is-small text-white">Next :</span>
      <span class="font-700 text-white">Chapter {{ next_chapter.chapter_id }}</span>
      <span class="font-900i font-size-20 line-height-1">{{ next_chapter.name_simple }}</span>
    </div>
  </div>
</template>

<script>
	export default {
		props: ['next_chapter']
	}
</script>

<style>
</style>