<template>
  <div
    class="w-100pc p-1 bg-purple h-30 mb-1 text-center my-1 border-radius-10 overflow-hidden"
    v-if="verse.page_number_set"
  >
    <span class="is-small">PAGE</span>
    <span class="font-900">{{ verse.page_number_set}}</span>
  </div>
</template>

<script>
	export default {
		name: 'PageDivider',
		props: ['verse']
	}
</script>

<style>
</style>