<template>
  <div class="position-absolute position-top-left pl-2 clickable" style="padding-top:100px">
    <img
      src="/svg/play-grey.svg"
      class="h-20"
      v-if="(playerState=='end' || playerState=='pause' ) && !isLoading"
      @click="initVerse('play')"
    />

    <img src="/svg/pause.svg" class="h-20" v-if="playerState=='play' " @click="initVerse('pause')" />

    <img src="/svg/loading-pulse.svg" class="h-20" v-if="isLoading" />
  </div>
</template>

<script>
	import { Howl, Howler } from 'howler'
	export default {
		name: 'Player',
		props: ['verse'],
		data() {
			return {
				isLoading: false,

				//once audio loaded , this is state of play
				playerState: 'end'
			}
		},

		methods: {
			verse_id() {
				//get audio path
				//example "verses/Alafasy/mp3/090002.mp3",
				let verse_audio_path = this.verse.audio.url

				//due to CORS , have to use proxy link, get absolute link
				let verse_url = verse_audio_path.replace(
					'verses',
					process.env.BASE_URL + '/api'
				)

				//return verse url in array
				return verse_url.split()
			},

			initSound() {
				let sound = new Howl({
					src: this.verse_id()
				})

				return sound
			},

			initVerse(status) {
				this.isLoading = true
				this.playerState == 'play'
				let sound = this.initSound()

				if (status == 'play') {
					sound.play()

					// Clear listener after first call.
					sound.once('load', () => {
						this.isLoading = false
						this.playerState == 'play'
						console.log('loaded')

						sound.play()
					})

					sound.on('play', () => {
						this.isLoading = false
						this.playerState = 'play'
						console.log('playing')
					})

					// Fires when the sound finishes playing.
					sound.on('end', () => {
						this.isLoading = false
						this.playerState = 'end'
						console.log('Finished!')
					})
				}

				if (status == 'pause') {
					this.isLoading = false
					sound.pause()
				}
			}
		}
	}
</script>

<style>
</style>