<template>
  <!-- <span
    v-html="verse.text_indopak"
    class="py-3 quran text-rtl"
    :class="`p${verse.page_number}`"
    :style="{ 'fontSize' : `${arabic_size}em`}"
  ></span>-->
  <div class="flex py-3 w-100pc flex-wrap text-rtl">
    <!--  -->
    <div class="flex flex-col flex-center" v-for="word in verse.words" :key="word.id">
      <span
        v-html="word.code"
        class="mx-2 quran"
        :class="`p${word.page_number}`"
        :style="{ 'fontSize' : `${arabic_size}em`}"
      ></span>
    </div>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
		name: 'QuranText',
		props: ['verse'],
		computed: {
			...mapState({
				arabic_size: state => state.setting.user_setting.arabic_size
			})
		}
	}
</script>

<style>
</style>

