<template>
  <div class="w-50pc w-100pc-mobile p-2" att="quranTextTruncateChild">
    <div
      class="theme_default border-radius-10 flex flex-wrap overflow-hidden text-rtl p-2 position-relative"
      :class="!show_full ? 'h-min-100' : 'h-min-200'"
    >
      <!-- verse no -->
      <div class="w-50">
        <div
          class="pr-2 pt-2 text-grey flex flex-col flex-center position-relative"
        >
          <span class="font-size-30 font-size-20-mobile">{{
            verse.verse_number
          }}</span>

          <span v-if="show_full">
            <AudioPlayer class="mt-2" :sources="verse_id" />
          </span>
        </div>
      </div>

      <!-- truncated verses -->
      <div v-if="!show_full" class="flex-1 flex">
        <div v-for="word in limitBy(verse.words, 2)" :key="word.id">
          <span
            v-html="word.code"
            class="mx-2 quran"
            :class="`p${word.page_number}`"
            :style="{ fontSize: `${arabic_size}em` }"
          ></span>
        </div>
        <span class="font-size-20">...</span>
      </div>

      <!-- show full verse -->
      <div class="flex-1" v-if="show_full">
        <WordByWord :verse="verse" v-if="word_by_word_mode == 'yes'" />
        <QuranText :verse="verse" v-if="word_by_word_mode == 'no'" />
        <Translate :verse="verse" />
      </div>

      <div
        class="font-size-30 clickable p-1 bg-grey border-radius-full w-30 h-30 text-black flex flex-center position-absolute position-top-left ml-2 mt-2"
        @click="show_full = !show_full"
      >
        <img src="/svg/chevron-down.svg" v-if="!show_full" />
        <img src="/svg/chevron-up.svg" v-if="show_full" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue2Filters from 'vue2-filters'
import { mapState } from 'vuex'
import 'animate.css'
import AudioPlayer from './AudioPlayer'
import WordByWord from '~/components/chapter/WordByWord'
import QuranText from '~/components/chapter/QuranText'
import Translate from '~/components/chapter/Translate'

export default {
  name: 'QuranText',
  props: ['verse'],
  data() {
    return {
      show_full: false,
    }
  },
  components: {
    WordByWord,
    QuranText,
    Translate,
    AudioPlayer,
  },
  mixins: [Vue2Filters.mixin],
  computed: {
    ...mapState({
      arabic_size: (state) => state.setting.user_setting.arabic_size,
      word_by_word_mode: (state) =>
        state.setting.user_setting.word_by_word_mode,
    }),
    verse_id() {
      //get audio path
      //example "verses/Alafasy/mp3/090002.mp3",
      let verse_audio_path = this.verse.audio.url

      //due to CORS , have to use proxy link, get absolute link
      let verse_url = verse_audio_path.replace(
        'verses',
        process.env.BASE_URL + '/api'
      )

      //return verse url in array
      return verse_url.split()
    },
  },
}
</script>

<style lang='scss'>
.quran_text_truncate {
  transition: min-height 0.5s;
}
</style>

