<template>
  <div class="flex flex-col flex-center p-4 border-radius-10" style="top:15%; left:0px">
    <h1 class="bold font-900i font-size-30 mb-3">CONFIGURATION</h1>

    <ColorSetting />

    <h3 class="bold">Verse Translation Language</h3>
    <select
      class="w-300 h-30 mb-3 text-black is-small"
      v-model="verse_translation_language"
      @change="clearCache()"
    >
      <option
        v-for="translation in translations"
        :key="translation.key"
        :value="translation.key"
      >{{ translation.label}}</option>
      <option value="-">No Translation</option>
    </select>

    <h3 class="bold">Word By Word Translation Mode</h3>
    <select class="w-300 h-30 mb-3 text-black is-small" v-model="word_by_word_mode">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <!-- PREVIEW -->
    <!-- <div class="mr-3">
        <span v-html="`&#xfb53;`" class="p1 quran" :style="{ 'fontSize' : `${arabic_size}em`}"></span>
        <div
          class="mx-2 is-small pb-2"
          :style="{ 'fontSize' : `${word_translation_size}em`}"
        >the Most Gracious</div>

        <div
          class="verse_translation"
          :style="{ 'fontSize' : `${verse_translation_size}em`}"
        >Verses Translation...</div>
    </div>-->

    <!-- SIZE CONFIG -->

    <h3 class="bold">Arabic Size</h3>
    <vue-slider
      v-model="arabic_size"
      :width="300"
      :height="8"
      :dotSize="20"
      :min="2.5"
      :max="5"
      :interval="0.25"
    ></vue-slider>

    <h3 class="bold">Word Translation Size</h3>
    <vue-slider
      v-model="word_translation_size"
      :width="300"
      :height="8"
      :dotSize="20"
      :min="0.6"
      :max="1.3"
      :interval="0.1"
    ></vue-slider>

    <h3 class="bold">Verse Translation Size</h3>
    <vue-slider
      v-model="verse_translation_size"
      :width="300"
      :height="8"
      :dotSize="20"
      :min="0.8"
      :max="1.3"
      :interval="0.1"
    ></vue-slider>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	import VueSlider from 'vue-slider-component'
	import 'vue-slider-component/theme/antd.css'
	import ColorSetting from '~/components/chapter/ColorSetting'

	export default {
		name: 'Setting',

		data() {
			return {
				translations: [
					{
						key: 'malay',
						label: 'Malay'
					},
					{
						key: 'indonesian',
						label: 'Indonesian'
					},
					{
						key: 'english',
						label: 'English'
					}
				]
			}
		},
		components: {
			VueSlider,
			ColorSetting
		},
		computed: {
			...mapState({
				open_setting: state => state.setting.open_setting
			}),

			verse_translation_language: {
				get() {
					return this.$store.state.setting.user_setting
						.verse_translation_language
				},
				set(value) {
					this.$store.commit(
						'setting/UPDATE_verse_translation_language',
						value
					)
				}
			},
			word_translation_language: {
				get() {
					return this.$store.state.setting.user_setting
						.word_translation_language
				},
				set(value) {
					this.$store.commit(
						'setting/UPDATE_word_translation_language',
						value
					)
				}
			},
			word_by_word_mode: {
				get() {
					return this.$store.state.setting.user_setting.word_by_word_mode
				},
				set(value) {
					this.$store.commit('setting/UPDATE_word_by_word_mode', value)
				}
			},
			arabic_size: {
				get() {
					return this.$store.state.setting.user_setting.arabic_size
				},
				set(value) {
					this.$store.commit('setting/UPDATE_arabic_size', value)
				}
			},
			word_translation_size: {
				get() {
					return this.$store.state.setting.user_setting
						.word_translation_size
				},
				set(value) {
					this.$store.commit(
						'setting/UPDATE_word_translation_size',
						value
					)
				}
			},
			verse_translation_size: {
				get() {
					return this.$store.state.setting.user_setting
						.verse_translation_size
				},
				set(value) {
					this.$store.commit(
						'setting/UPDATE_verse_translation_size',
						value
					)
				}
			}
		},
		methods: {
			clearCache() {
				this.$store.cache.clear()
				this.$toast.success("Translation's language Resetted")
			}
		}
	}
</script>

<style>
</style>