<template>
  <div>
    <div
      class="position-fixed w-40 bg-grey-light p-2 border-radius-right shadow font-size-8 clickable"
      style="left:0; top:30%"
      @click="openModal()"
    >
      <img src="/svg/setting.svg" class="h-30" />
    </div>

    <client-only>
      <sweet-modal ref="settingModal" modal-theme="dark" overlay-theme="dark">
        <Setting />
        <button
          class="bg-purple w-300 p-2 border-radius-10 mt-4"
          @click="storeConfig()"
        >Save & Apply</button>
      </sweet-modal>
    </client-only>
  </div>
</template>

<script>
	import Setting from '~/components/chapter/Setting'
	import { mapState } from 'vuex'

	export default {
		name: 'SideSetting',
		components: {
			Setting
		},

		computed: {
			...mapState({
				user_setting: state => state.setting.user_setting
			})
		},

		methods: {
			openModal() {
				this.$refs.settingModal.open()
				// this.$store.commit('setting/UPDATE_open_setting', 'true')
			},
			storeConfig() {
				this.$store.dispatch('setting/STORE')
				this.$refs.settingModal.close()
			}
		}
	}
</script>

<style>
</style>