<template>
  <div
    v-if="verse.verse_translation"
    class="verse_translation"
    :style="{ 'fontSize' : `${verse_translation_size}em`}"
  >{{verse.verse_translation.text}}</div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
		name: 'VerseTranslate',
		props: ['verse'],
		computed: {
			...mapState({
				verse_translation_size: state =>
					state.setting.user_setting.verse_translation_size
			})
		}
	}
</script>

<style>
</style>