<template>
  <div class="w-50pc w-100pc-mobile w-100pc-tablet px-2 flex">
    <div
      :id="`v${verse.verse_number}`"
      class="flex-1 text-right p-3 position-relative border-radius-10 my-2 bg-cover bg-no-repeat flex overflow-hidden verse_card float-right"
    >
      <div class="w-50">
        <!-- verse no -->
        <div
          class="position-absolute position-top-right pr-2 pt-2 text-grey flex flex-col flex-center line-height-1"
        >
          <span class="font-size-30">{{ verse.verse_number }}</span>
        </div>

        <!-- bookmark -->
        <div
          class="position-absolute position-top-right clickable z-index-10"
          style="padding-top: 60px; padding-right: 13px"
          @click="openBookmark(verse.id)"
        >
          <img src="/svg/tag-add-grey.svg" class="h-30" />
        </div>

        <!-- play -->
        <!-- <audio-player class="mt-2" :sources="verse_id" :loop="false" :preload="false" :html5="true"></audio-player> -->

        <AudioPlayer class="mt-2" :sources="verse_id" />
      </div>

      <div class="flex-1">
        <WordByWord :verse="verse" v-if="word_by_word_mode == 'yes'" />
        <QuranText :verse="verse" v-if="word_by_word_mode == 'no'" />
        <Translate :verse="verse" />
      </div>

      <client-only>
        <sweet-modal
          ref="bookmarkIndex"
          modal-theme="dark"
          overlay-theme="dark"
        >
          <div class="w-100pc flex flex-col">
            <div
              v-for="bookmark in bookmarks"
              :key="bookmark.id"
              class="flex h-50"
            >
              <div class="flex-1 text-left">{{ bookmark.name }}</div>

              <div @click="storeVerseBookmark(bookmark.id)">
                <img src="/svg/plus_circle_white2.svg" class="h-30" />
              </div>
            </div>
          </div>

          <div
            class="w-100pc bg-teal h-50 border-radius-10 flex flex-center"
            @click="$refs.createBookmarkModal.open()"
          >
            CREATE NEW CATEGORY
          </div>
        </sweet-modal>
      </client-only>

      <client-only>
        <!-- add new category -->
        <sweet-modal
          ref="createBookmarkModal"
          modal-theme="dark"
          overlay-theme="dark"
          width="300"
          :enable-mobile-fullscreen="false"
        >
          <div class="flex flex-col w-100pc">
            <label>Category Name</label>
            <input
              type="text"
              class="h-40 border-radius-10 mb-3 text-black p-3"
              v-model="bookmark_name"
            />

            <button
              class="bg-teal border-radius-10 h-40 text-center font-size-20"
              @click="submitCreateCategory()"
            >
              CREATE
            </button>
          </div>
        </sweet-modal>
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AudioPlayer from './AudioPlayer'
import WordByWord from '~/components/chapter/WordByWord'
import QuranText from '~/components/chapter/QuranText'
import Translate from '~/components/chapter/Translate'

export default {
  name: 'VerseGrid',
  props: ['verse', 'chapter_id'],
  data() {
    return {
      bookmark_name: '',
    }
  },
  components: {
    WordByWord,
    QuranText,
    Translate,

    AudioPlayer,
  },

  computed: {
    ...mapState({
      bookmarks: (state) => state.bookmark.bookmarks,
      current_verse: (state) => state.verse_bookmark.current_verse,
      word_by_word_mode: (state) =>
        state.setting.user_setting.word_by_word_mode,
    }),

    verseCanAutoPlay() {
      if (this.chapter_id > 1 && this.chapter_id < 57) {
        return false
      } else {
        return true
      }
    },

    image_bg() {
      if (this.verse.verse_images) {
        return this.verse.verse_images.image_url
      } else {
        return 'https://omj.sgp1.digitaloceanspaces.com/verse_image/3RZcixyKtgXaid2lJvPEFYx8krJztZNSCuaU3Vxr.jpeg'
      }
    },
    verse_id() {
      //get audio path
      //example "verses/Alafasy/mp3/090002.mp3",
      let verse_audio_path = this.verse.audio.url

      //due to CORS , have to use proxy link, get absolute link
      let verse_url = verse_audio_path.replace(
        'verses',
        process.env.BASE_URL + '/api'
      )

      //return verse url in array
      return verse_url.split()
    },
  },
  methods: {
    submitCreateCategory() {
      let form_data = {
        name: this.bookmark_name,
      }
      this.$store
        .dispatch('bookmark/STORE', form_data)
        .then((res) => {
          this.$toast.success('Category Created')

          //reset cache
          this.$store.cache.delete('bookmark/INDEX')
          this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
          this.$store.cache.dispatch('bookmark/INDEX')
          this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')

          this.$refs.createBookmarkModal.close()
        })

        .catch((err) => {
          this.$toast.error('Technical Error')
        })
    },
    openBookmark(verse_id) {
      console.log('open tgk')
      this.$store.commit('verse_bookmark/UPDATE_current_verse', verse_id)
      this.$refs.bookmarkIndex.open()
    },
    storeVerseBookmark(bookmark_id) {
      const form_data = {
        bookmark_id: bookmark_id,
        verse_id: this.current_verse,
      }
      this.$store
        .dispatch('verse_bookmark/STORE', form_data)
        .then((res) => {
          this.$toast.success('Verse Bookmarked')

          this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
        })
        .catch((err) => {
          this.$toast.error('Failed to bookmark')
        })
        .finally((res) => {
          this.$refs.bookmarkIndex.close()
        })
    },
  },
}
</script>

<style></style>
