<template>
  <div
    :id="`vs${verse.verse_number}`"
    class="mb-3 border-radius-10 verse_card"
    :class="!show_verse_set ? 'h-min-130' : 'h-min-300'"
  >
    <div class="text-right my-2 w-100pc bg-cover bg-no-repeat flex overflow-hidden">
      <QuranTextTruncate :verse="verse" />
    </div>

    <!-- show verses toggle -->
    <div class="flex flex-center">
      <div
        v-if="!show_verse_set"
        class="button_theme p-1 border-radius-top is-small mr-2 px-3 flex flex-center clickable"
        @click="showVerses(verse.verse_number)"
      >
        <span>Load Next Verses</span>
        <img src="/svg/chevrons-down.svg" />
      </div>
    </div>

    <!-- show next verses  -->

    <div v-show="show_verse_set">
      <!-- show verses -->
      <div v-for="verse in verses_set" :key="verse.id">
        <hr />
        <QuranTextTruncate :verse="verse" :chapter_id="chapter_id" />
      </div>

      <!-- hide verse set -->
      <div class="flex flex-center">
        <div
          v-if="show_verse_set"
          class="p-1 border-radius-top is-small mr-2 px-3 flex flex-center clickable button_theme"
          @click="show_verse_set = false"
        >
          <span>Hide Verses</span>
          <img src="/svg/chevrons-up.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	import QuranTextTruncate from '~/components/chapter/QuranTextTruncate'

	export default {
		name: 'VerseSkipped',
		props: ['verse', 'chapter_id'],
		data() {
			return {
				bookmark_name: '',
				show_verse_set: false,
				verses_set: []
			}
		},
		components: {
			QuranTextTruncate
		},

		computed: {
			...mapState({
				bookmarks: state => state.bookmark.bookmarks,
				current_verse: state => state.verse_bookmark.current_verse,
				word_by_word_mode: state =>
					state.setting.user_setting.word_by_word_mode
			}),

			verseCanAutoPlay() {
				if (this.chapter_id > 1 && this.chapter_id < 57) {
					return false
				} else {
					return true
				}
			},

			image_bg() {
				if (this.verse.verse_images) {
					return this.verse.verse_images.image_url
				} else {
					return 'https://omj.sgp1.digitaloceanspaces.com/verse_image/3RZcixyKtgXaid2lJvPEFYx8krJztZNSCuaU3Vxr.jpeg'
				}
			},
			verse_id() {
				//get audio path
				//example "verses/Alafasy/mp3/090002.mp3",
				let verse_audio_path = this.verse.audio.url

				//due to CORS , have to use proxy link, get absolute link
				let verse_url = verse_audio_path.replace(
					'verses',
					process.env.BASE_URL + '/api'
				)

				//return verse url in array
				return verse_url.split()
			}
		},
		methods: {
			async showVerses(initial_verse_number) {
				let parameters = {
					verse_number: initial_verse_number,
					chapter_id: this.chapter_id,
					memory_set: 5
				}

				//store to verses set data
				let result = await this.$store.cache.dispatch(
					'verse/FETCH_SET_VERSES',
					parameters
				)

				this.verses_set = result
				this.show_verse_set = true
			},

			submitCreateCategory() {
				let form_data = {
					name: this.bookmark_name
				}
				this.$store
					.dispatch('bookmark/STORE', form_data)
					.then(res => {
						this.$toast.success('Category Created')

						//reset cache
						this.$store.cache.delete('bookmark/INDEX')
						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
						this.$store.cache.dispatch('bookmark/INDEX')
						this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')

						this.$refs.createBookmarkModal.close()
					})

					.catch(err => {
						this.$toast.error('Technical Error')
					})
			},
			openBookmark(verse_id) {
				console.log('open tgk')
				this.$store.commit('verse_bookmark/UPDATE_current_verse', verse_id)
				this.$refs.bookmarkIndex.open()
			},
			storeVerseBookmark(bookmark_id) {
				const form_data = {
					bookmark_id: bookmark_id,
					verse_id: this.current_verse
				}
				this.$store
					.dispatch('verse_bookmark/STORE', form_data)
					.then(res => {
						this.$toast.success('Verse Bookmarked')

						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
					})
					.catch(err => {
						this.$toast.error('Failed to bookmark')
					})
					.finally(res => {
						this.$refs.bookmarkIndex.close()
					})
			}
		}
	}
</script>

<style lang='scss'>
	.verse_card {
		transition: min-height 0.5s;
	}
</style>
