<template>
  <div class="flex py-3 w-100pc flex-wrap text-rtl">
    <!--  -->
    <div class="flex flex-col flex-center" v-for="word in verse.words" :key="word.id">
      <span
        v-html="word.code"
        class="mx-2 quran"
        :class="`p${word.page_number}`"
        :style="{ 'fontSize' : `${arabic_size}em`}"
      ></span>
      <div
        class="mx-2 is-small pt-2 pb-2"
        v-if="word.translation"
        :style="{ 'fontSize' : `${word_translation_size}em`}"
      >{{ word.translation.text}}</div>
    </div>
  </div>
</template>

<script>
	import { mapState } from 'vuex'

	export default {
		name: 'WordByWord',
		props: ['verse'],
		computed: {
			...mapState({
				arabic_size: state => state.setting.user_setting.arabic_size,
				word_translation_size: state =>
					state.setting.user_setting.word_translation_size
			})
		}
	}
</script>

<style>
</style>