<template>
  <div class="flex flex-wrap w-100pc">
    <PopularChapters />
    <client-only>
      <Card v-for="chapter in chapters" :key="chapter.id" :chapter="chapter" />
    </client-only>
    <client-only>
      <SideSetting />
    </client-only>
  </div>
</template>

<script>
	import { mapState } from 'vuex'

	// import Card from '~/components/chapter/Card'

	export default {
		name: 'ChapterList',
		components: {
			// Card,
			PopularChapters: () => import('@/components/chapters/PopularChapters'),
			SideSetting: () => import('@/components/chapter/SideSetting'),
			Card: () => import('@/components/chapter/Card')
		},
		computed: {
			...mapState({
				chapters: state => state.chapter.chapters
			})
		},
		mounted() {
			this.$store.cache.dispatch('chapter/FETCH_CHAPTERS')
		}
	}
</script>

<style>
</style>
