<template>
  <div>
    <div class="flex flex-wrap w-100pc" v-if="favourites">
      <client-only>
        <CardFav :favourite="favourite" v-for="favourite in favourites" :key="favourite.id" />
      </client-only>
    </div>
    <div
      v-if="isEmpty"
      class="h-min-80vh flex flex-center text-theme"
    >There is no favourite chapters yet.</div>
    <client-only>
      <SideSetting />
    </client-only>
  </div>
</template>

<script>
	import { mapState } from 'vuex'

	// import CardFav from '~/components/chapter/CardFav'
	// import SideSetting from '~/components/chapter/SideSetting'
	export default {
		name: 'Favourite',
		components: {
			// CardFav,
			// SideSetting
			SideSetting: () => import('@/components/chapter/SideSetting'),
			CardFav: () => import('@/components/chapter/CardFav')
		},
		computed: {
			...mapState({
				favourites: state => state.favourite.favourites
			}),
			isEmpty() {
				if (this.favourites.length == 0) {
					return true
				}
				return false
			}
		},
		mounted() {
			this.$store.cache.dispatch('favourite/INDEX')
		}
	}
</script>

<style>
</style>