<template>
  <div>
    <div
      class="flex flex-col-mobile bg-cover bg-position-top h-min-1000 h-min-100vh-mobile bg-size-cover bg-no-repeat pt-5 position-relative"
      style="background-image: url('/img/bg.png')"
    >
      <div class="section container">
        <div class="w-500 w-100pc-tablet w-100pc-mobile">
          <div
            class="flex flex-col flex-center w-100pc-mobile font-size-40 text-black"
          >
            <div class="flex flex-center">
              <span class>SUA</span>
              <span class="bold font-900i">QURAN</span>
            </div>

            <h1
              class="text-black mb-5 font-size-20 font-size-14-mobile text-center"
            >
              Aplikasi Quran Semua Dalam Satu
            </h1>
          </div>

          <div
            v-if="auth.isAuthenticated == false"
            class="w-100pc flex flex-col flex-center"
          >
            <button
              class="h-50 w-200 border-radius-5 text-white m-1 mb-2 mt-5 clickable flex flex-center is-small"
              style="background-color: #1877f2"
              @click="socialLoginFB()"
              v-if="auth.isAuthenticated == false"
            >
              <img src="/img/fb_white.png" style="height: 30px" class="mr-3" />
              <span>Login with Facebook</span>
            </button>

            <img
              src="/img/google_white.png"
              class="clickable w-200 border-radius-5 bg-white m-1"
              @click="socialLoginGoogle()"
            />

            <nuxt-link
              to="/auth/login"
              class="bg-teal h-40 w-200 border-radius-5 text-white bold m-1 mt-2 flex flex-center"
            >
              Login with Email
            </nuxt-link>

            <div class="flex text-black">
              <nuxt-link
                to="/auth/register"
                class="m-1 flex flex-center text-xs"
              >
                New Registration
              </nuxt-link>

              <span class="text-white">| </span>

              <nuxt-link
                to="/auth/forgot-password"
                class="m-1 flex flex-center text-xs"
              >
                Forgot Password
              </nuxt-link>
            </div>
          </div>

          <div class="w-100pc text-center">
            <div v-if="auth && auth.isAuthenticated" class="text-black mt-5">
              As Salam {{ auth.name }},
            </div>
            <button
              class="bg-teal h-50 w-300 border-radius-10 text-white bold m-2"
              v-if="auth && auth.isAuthenticated"
              @click="gotoChapter()"
            >
              Let's continue
            </button>
          </div>
        </div>

        <div class="flex-1"></div>
      </div>

      <div class="position-absolute position-bottom-right">
        <img
          src="/img/pc_phone_simulate_half.png"
          class="h-800 h-500-tablet h-auto-mobile"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  layout: 'blank',
  data() {
    return {
      auth: {
        isAuthenticated: false,
        name: '',
        jwtToken: '',
        email: '',
      },
    }
  },
  methods: {
    socialLoginFB() {
      window.location.href = `${process.env.BACKEND_URL}/api/auth/login/facebook`
    },
    socialLoginGoogle() {
      window.location.href = `${process.env.BACKEND_URL}/api/auth/login/google`
    },
    async load_vuex_suaquran() {
      try {
        let vuex_suaquran = await this.$localForage.getItem('vuex_suaquran')
        let parse = JSON.parse(vuex_suaquran)
        return Promise.resolve(parse)
      } catch (error) {
        return 'no localforage'
      }
    },
    gotoChapter() {
      this.$store.cache
        .dispatch('auth/ME', this.auth.jwtToken)
        .then((authenticated) => {
          console.log('authenticated')
          this.$router.push('/chapters')
        })
    },
    logout() {
      this.$store
        .dispatch('auth/LOGOUT')
        .then((res) => {
          this.$toast.success('Succesful Logout')
        })
        .catch((e) => {
          this.$toast.error('Fail to logout')
        })
        .finally(() => {
          this.$router.push('/')
        })
    },
  },

  async mounted() {
    let token = this.$route.query.token

    if (!token) {
      await this.load_vuex_suaquran()
        .then((parse) => {
          if (parse != null) {
            this.auth = parse.auth
          }
        })
        .catch((e) => {
          this.$toast.info('Please login')
        })
    }

    //if got token, validate it
    if (token) {
      this.$store
        .dispatch('auth/ME', token)
        .then((res) => {
          this.$toast.success('Successful authentication')
          //once validated redirect to chapters
          this.$router.push('/chapters')
        })
        .catch((err) => {
          console.log(err)
          this.$toast.error('Failed to authenticate')
        })
    }
  },

  head() {
    return {
      title:
        'SuaQuran.com | Aplikasi Baca dan Belajar Quran Online | Terjemahan bahasa malaysia dan english',
      description: `Suaquran merupakan aplikasi quran semua dalam satu. Mempunyai antaramuka yang cantik dan mudah digunakan.`,
    }
  },
}
</script>

<style></style>
