<template>
  <div class="flex flex-col w-100pc items-center justify-between flex">
    <div class="text-center w-400 w-90pc-mobile mt-3">
      <div>Hi, {{ name }}</div>

      <div class="flex w-100pc">
        <button
          class="bg-grey p-2 border-radius-10 text-black flex-1 mr-2"
          @click="logout()"
        >
          Logout
        </button>

        <button
          class="bg-blue-dark p-2 border-radius-10 text-white flex-1"
          v-if="!user.avatar"
          @click="$router.push('/auth/change-password')"
        >
          Change Password
        </button>
      </div>

      <button
        class="bg-grey-lighter p-2 border-radius-10 mt-2 w-100pc text-red"
        @click="deleteModal()"
      >
        Delete Account
      </button>
    </div>

    <div class="flex justify-center w-500 w-90pc-mobile mt-3">
      <VueFaqAccordion
        :items="myItems"
        fontColor="text-theme"
        activeColor="text-purple-light"
        class="is-small"
      />
    </div>

    <div class="onesignal-customlink-container my-2"></div>

    <!-- <div class="is-small text-center">
      <div>
        <span class="bold">Lead Developer</span>
        <a
          href="https://www.facebook.com/kopiaman"
          style="text-decoration: underline"
          >Salman</a
        >
      </div>
      <div class="flex">
        <span class="bold pr-2">Turut membantu:</span>
        <span class="pr-1">Amrin,</span>
        <span class="pr-1">Hatifi,</span>
        <span class="pr-1">Aiman,</span>
      </div>
      <div class="flex">
        <span class="bold pr-2">Credit</span>
        <a href="quran.com" class="pr-1">Quran.com</a>
        <a href="unsplash.com" class="pr-1">Unsplash</a>
        <a href="pexels.com" class="pr-1">Pexels</a>
        <a href="freepik.com" class="pr-1">Freepik</a>
      </div>
    </div> -->

    <sweet-modal
      ref="delete_account"
      width="300"
      :enable-mobile-fullscreen="false"
      icon="error"
    >
      <div class="flex flex-col w-100pc text-black">
        Are you sure to delete your account?

        <button
          class="bg-grey border-radius-10 p-1 text-black m-1"
          @click="$refs.delete_account.close()"
        >
          Cancel
        </button>
        <button
          class="bg-red border-radius-10 p-1 text-white m-1"
          @click="proceedDelete()"
        >
          Yes
        </button>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import VueFaqAccordion from 'vue-faq-accordion'
export default {
  name: 'Misc',
  components: {
    // SideSetting: () => import('@/components/chapter/SideSetting'),
    // Card: () => import('@/components/chapter/Card')
    VueFaqAccordion,
  },
  computed: {
    ...mapState({
      email: (state) => state.auth.email,
      name: (state) => state.auth.name,
      user: (state) => state.auth.user,
    }),
  },
  data() {
    return {
      myItems: [
        {
          title: 'Kenapa dinamakan Suaquran?',
          value:
            'Sua bermaksud berjumpa atau bertemu. Jadi Sua + Quran bermaksud bertemu Quran',
          category: 'FAQ',
        },
        {
          title: 'Apakah tujuan Suaquran dibangunkan',
          value: `Kami ingin menjadikan SuaQuran sebagai aplikasi Quran yang menarik umat Islam menggunakannya setiap masa. 
																																																																	Kebanyakan aplikasi Quran sedia ada mempunyai kelemahan dari segi rekabentuk, fungsi dan pengalaman pengguna yang kurang baik.`,
          category: 'FAQ',
        },
        {
          title: 'Dari manakah sumber kandungan aplikasi ini? ',
          value:
            'Kami mengambil sumber dari Quran.com untuk senarai surah, ayat, tulisan, terjemahan, serta audio.  ',
          category: 'FAQ',
        },
        {
          title:
            'Adakah saya boleh download aplikasi Suaquran di Play Store atau App Store?',
          value: `Ia sedang diusahakan. Buat masa sekarang anda boleh 'Send to HomeScreen' untuk membuat akses singkat ke aplikasi Suaquran  `,
          category: 'FAQ',
        },
      ],
    }
  },
  methods: {
    logout() {
      this.$store
        .dispatch('auth/LOGOUT')
        .then((res) => {
          this.$toast.success('Succesful Logout')
        })
        .catch((e) => {
          this.$toast.error('Fail to logout')
        })
        .finally(() => {
          this.$router.push('/')
        })
    },
    deleteModal() {
      this.$refs.delete_account.open()
    },
    async proceedDelete() {
      await this.$store.dispatch('auth/DELETE_ACCOUNT')

      await this.$store.dispatch('auth/LOGOUT')

      this.$toast.success('Account Deleted')
      this.$router.push('/')
    },
  },
}
</script>

<style lang="sass">
</style>
