<template>
  <div
    class="w-100 boxy"
    :class="expanding ? 'boxy_expand': ''"
    @mouseenter="expanding = true"
    @mouseleave="expanding = false"
  >Some good</div>
</template>

<script>
	export default {
		data() {
			return {
				expanding: false
			}
		}
	}
</script>

<style>
	.boxy {
		min-height: 100px;
		transition: min-height 0.5s;

		background-color: blue;
	}
	.boxy_expand {
		min-height: 200px;
		background-color: red;
	}
</style>