<template>
  <div class="flex flex-col mb-2">
    <!-- main bookmark -->
    <div class="flex items-center mb-1 h-50 p-2 border-radius-10 bookmark_parent">
      <div class="flex-1 flex items-center">
        <span class="pr-2 bold">{{ bookmark.name}}</span>
        <span class="pr-2">({{ bookmark.verse_bookmarks.length }})</span>
        <img src="/svg/edit.svg" class="h-10 clickable" @click="editBookmark(bookmark)" />
      </div>

      <img
        src="/svg/delete_black.svg"
        class="h-20 clickable pr-2"
        @click="deleteBookmarkWarning(bookmark.id)"
      />
      <img
        src="/svg/updown.svg"
        class="h-20 clickable pr-2"
        @click="toggleBookmark()"
        v-if="bookmark.verse_bookmarks.length>0"
      />
    </div>

    <!-- child, verse bookmark -->
    <div v-if="!isHide">
      <VersesBookmark
        v-for="verse_bookmark in bookmark.verse_bookmarks"
        :verse_bookmark="verse_bookmark"
        :key="verse_bookmark.id"
      />
    </div>

    <!-- edit category name -->
    <sweet-modal
      ref="editBookmarkModal"
      modal-theme="dark"
      overlay-theme="dark"
      width="300"
      :enable-mobile-fullscreen="false"
    >
      <div class="flex flex-col w-100pc">
        <label>Category Name</label>
        <input
          type="text"
          class="h-40 border-radius-10 mb-3 text-black p-3"
          v-model="change_bookmark_name"
        />

        <button
          class="bg-teal border-radius-10 h-40 text-center font-size-20"
          @click="submitChange()"
        >CHANGE</button>
      </div>
    </sweet-modal>

    <!-- delete bookmark -->
    <sweet-modal
      ref="deleteBookmarkModal"
      modal-theme="dark"
      overlay-theme="dark"
      width="300"
      :enable-mobile-fullscreen="false"
      icon="warning"
    >
      <div class="flex flex-col w-100pc">
        Are you sure to delete this bookmark?
        <button
          class="bg-red border-radius-10 h-40 text-center font-size-20 my-2"
          @click="deleteBookmarkConfirm()"
        >Yes, I want to delete</button>
      </div>
    </sweet-modal>
  </div>
</template>

<script>
	import VersesBookmark from '~/components/bookmarks/VersesBookmark'
	export default {
		name: 'BookmarkList',
		props: ['bookmark'],
		data() {
			return {
				isHide: false,
				change_bookmark_name: '',
				change_bookmark_id: '',
				delete_bookmark_id: ''
			}
		},

		components: {
			VersesBookmark
		},
		methods: {
			deleteBookmarkWarning(bookmark_id) {
				this.delete_bookmark_id = bookmark_id
				this.$refs.deleteBookmarkModal.open()
			},
			deleteBookmarkConfirm() {
				this.$store
					.dispatch('bookmark/REMOVE', this.delete_bookmark_id)
					.then(res => {
						this.$toast.success('Bookmark Deleted')

						// reset cache
						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
						this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')

						this.$refs.deleteBookmarkModal.close()
					})

					.catch(err => {
						this.$toast.error('Technical Error')
					})
			},
			toggleBookmark() {
				this.isHide = !this.isHide
			},
			editBookmark(bookmark) {
				this.change_bookmark_name = bookmark.name
				this.change_bookmark_id = bookmark.id
				this.$refs.editBookmarkModal.open()
			},
			submitChange() {
				let data = {
					id: this.change_bookmark_id,
					name: this.change_bookmark_name
				}
				this.$store
					.dispatch('bookmark/UPDATE', data)
					.then(res => {
						this.$toast.success('Name Updated')

						//reset cache
						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
						this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')
						this.$refs.editBookmarkModal.close()
					})

					.catch(err => {
						this.$toast.error('Technical Error')
					})
			}
		}
	}
</script>

<style>
</style>