<template>
  <div
    class="pl-3 h-30 mb-2 border-radius-5 flex justify-start items-center bookmark_verse"
    v-if="!isRemove"
  >
    <div class="w-30 text-right clickable" @click="remove(verse_bookmark.id)">
      <img src="/svg/remove.svg" class="h-20" />
    </div>
    <nuxt-link
      class="flex-1 clickable"
      :to="{
        path: `/chapter/${verse_bookmark.verse.chapter_id}`,
        hash: `v${verse_bookmark.verse.verse_number}`
      }"
    >
      {{ verse_bookmark.verse.chapter.name_simple }}
      <span
        class="is-small"
      >({{ verse_bookmark.verse.verse_key }})</span>
    </nuxt-link>
  </div>
</template>

<script>
	export default {
		name: 'VersesBookmark',
		props: ['verse_bookmark'],
		data() {
			return {
				isRemove: false
			}
		},
		methods: {
			remove(verse_bookmark_id) {
				this.isRemove = true
				this.$store
					.dispatch('verse_bookmark/REMOVE', verse_bookmark_id)
					.then(res => {
						this.$toast.success('Verse Bookmark Removed')

						this.$store.cache.delete('bookmark/INDEX_WITH_VERSES')
						this.$store.cache.dispatch('bookmark/INDEX_WITH_VERSES')
					})
					.catch(err => {
						this.$toast.error('Failed to remove')
					})
			}
			// goToVerse(verse) {
			//   this.$router.push(`/chapter/${verse.chapter_id}/#v${verse.verse_number}`)
			// }
		}
	}
</script>

<style></style>
