<template>
  <div class="flex flex-center w-100pc header primary-font position-fixed z-index-100">
    <nuxt-link to="/" class="flex clickable">
      <span>SUA</span>
      <span class="font-900i">QURAN</span>
    </nuxt-link>
  </div>
</template>

<script>
	export default {
		name: 'Header'
	}
</script>

<style></style>
