<template>
  <div
    class="bg-grey-lighter flex justify-between text-center bottomnav z-index-100"
  >
    <NavItem icon_name="book_2" nav_name="CHAPTERS" route="/chapters" />
    <NavItem icon_name="love" nav_name="FAVOURITES" route="/favourites" />
    <NavItem icon_name="bookmark" nav_name="BOOKMARKS" route="/bookmarks" />
    <!-- <NavItem
      icon_name="teacher"
      nav_name="CARI GURU"
      route="/mengaji_quran_online"
    /> -->
    <NavItem icon_name="others" nav_name="MORE" route="/misc" />
  </div>
</template>

<script>
import NavItem from '~/components/layouts/NavItem'
export default {
  name: 'MobileNav',
  components: {
    NavItem
  }
}
</script>

<style></style>
