<template>
  <div @click="onClick(route)" class="flex-1">
    <div class="flex flex-col flex-1 flex-center p-2 clickable" v-if="theme != 'dark' ">
      <img :src="`/svg/${icon_name}.svg`" class="h-30" v-if="route == current_route" />
      <img :src="`/svg/${icon_name}_grey.svg`" class="h-30" v-else />
      <span
        style="font-size:10px"
        :class=" route == current_route ? `text-black` : `text-grey-dark`"
      >{{ nav_name }}</span>
    </div>

    <div class="flex flex-col flex-1 flex-center p-2 clickable" v-if="theme == 'dark' ">
      <img :src="`/svg/${icon_name}_grey.svg`" class="h-30" v-if="route == current_route" />
      <img :src="`/svg/${icon_name}.svg`" class="h-30" v-else />

      <span
        style="font-size:10px"
        :class=" route == current_route ? `text-grey-light` : `text-grey-dark`"
      >{{ nav_name }}</span>
    </div>
  </div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
		name: 'NavItem',
		props: ['icon_name', 'nav_name', 'route'],

		computed: {
			...mapState({
				current_route: state => state.setting.current_route,
				theme: state => state.setting.user_setting.theme
			})
		},
		methods: {
			onClick(route) {
				this.$router.push(`${route}`)
				this.$store.commit('setting/UPDATE_current_route', route)
			}
		}
	}
</script>

<style>
</style>