<template>
  <section class="py-12 px-4">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-4xl text-center mb-4 font-heading">
        Soalan Jawapan Kebiasaan (FAQ)
      </h2>

      <VueFaqAccordion :items="faqs" />
    </div>
  </section>
</template>

<script>
import VueFaqAccordion from 'vue-faq-accordion'
export default {
  components: { VueFaqAccordion },
  data() {
    return {
      isOpen: true,
      faqs: [
        {
          title: 'Apakah yang perlu disediakan saya ntuk pembelajaran online?',
          value: `1) Aplikasi Messenger atau Telegram   <br/>
          2) Headset dengan mikrophone <br/>
          3) Internet yang stabil.`
        },
        {
          title: 'Berapa lamakah satu sesi pengajaran',
          value: `Satu jam`
        },
        {
          title: 'Berapakah yuran pengajian?',
          value: `Yuran bermula serendah RM50 sebulan untuk seorang. Sila isi borang dulu ye dapatkan senarai harga lengkap`
        },
        {
          title: 'Berapakah jarak maksimum jika guru datang ke rumah?',
          value: `Jarak maksimum adalah lebih kurang 30km`
        },
        {
          title: `Adakah ada caj tambahan jika guru datang ke rumah`,
          value: `Ada, caj tambahan dikenakan adalah RM2/km. Minimum RM10`
        },
        {
          title: 'Apakah syarat utama jika perlu guru datang ke rumah?',
          value: `
          1) Disebabkan pandemik Covid-19, hanya anda dan guru dari kawasan hijau (bebas covid-19) dibenarkan <br/>
          2) Murid mesti ditemani mahram di rumah`
        },
        {
          title:
            'Adakah boleh menjalani pengajian online bersama orang lain dalam satu sesi',
          value: `Tidak dibenarkan buat masa sekarang supaya guru dapat fokus dan memberi perhatian mengajar terhadap satu murid sahaja`
        },
        {
          title: `Adakah diadakan sesi dengan dua atau tiga orang murid secara online?`,
          value: `Boleh tetapi harus mengambil pakej berkumpulan?`
        }
      ]
    }
  }
}
</script>

<style></style>
