<template>
  <section
    class="pt-6 px-4 bg-grey-light"
    style="background-image: linear-gradient(180deg, #86d3ed 0%, #ffffff 100%);"
  >
    <div class="w-full flex justify-center">
      <img src="/img/suaquran_text.png" />
    </div>

    <div
      class="flex flex-wrap items-center text-center lg:text-left -mx-2 container"
    >
      <div class="lg:w-2/3 px-2">
        <img src="/img/hero2.png" alt="" />
      </div>

      <div class="lg:w-1/3 px-2 lg:pl-16 mt-10 lg:mt-0 ">
        <span class="text-sm  text-black"
          >Nak belajar quran tapi tak dapat jumpa guru? <br />Tak yakin bacaan
          anda betul atau tidak? Apa kata..</span
        >
        <h1
          class="text-5xl mt-4 mb-6 leading-tight font-heading text-black font-900"
        >
          Mengaji Quran secara online atau offline
        </h1>

        <div class="w-full ">
          <nuxt-link
            to="/mengaji_quran_online/register"
            class="inline-block w-full py-3 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded "
          >
            Daftar Sekarang!
          </nuxt-link>
        </div>

        <!-- <form class="w-full max-w-lg mx-auto lg:mx-0">
          <div class="flex flex-wrap mb-6 md:mb-0">
            <div class="w-full md:w-2/3">
              <input
                class="appearance-none block w-full py-3 px-4 mb-4 mb:md-0 leading-snug text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded md:rounded-r-none focus:outline-none"
                type="text"
                placeholder="michael@dundermifflin.com"
              />
            </div>
            <div class="w-full md:w-1/3">
              <button
                class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded md:rounded-l-none"
              >
                Daftar
              </button>
            </div>
          </div>
         <p class="text-sm text-gray-500 leading-relaxed">
            Dunder Mifflin Paper Productions is the way to provide your company
            an extraordinary paper, sold by extraordinary people.
          </p>
        </form> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
