<template>
  <section class="py-12 px-4 text-center">
    <h2 class="text-4xl mb-2 leading-tight font-heading">
      Macam mana nak mula?
    </h2>
    <!-- <p class="text-gray-500">
      Ada 4 langkah mudah untuk dapatkan pelaburan dunia dan akhirat anda
    </p> -->
    <div class="flex flex-wrap items-center -mx-8 mt-12 mb-2">
      <div class="lg:w-1/4 px-8 mb-8">
        <img class="w-1/2 mx-auto mb-8 " src="/svg/how-choose.svg" alt="" />
        <h3 class="text-2xl mb-4 font-heading">
          <span
            class="inline-flex items-center justify-center h-12 w-12 mr-2 border rounded-full"
            >1</span
          ><span>Daftar Diri/Peserta</span>
        </h3>
        <p class="text-gray-500">
          Klik butang Daftar di bawah
        </p>
      </div>

      <div class="lg:w-1/4 px-8 mb-8">
        <img class="w-1/2 mx-auto mb-8" src="/svg/how-calendar.svg" alt="" />
        <h3 class="text-2xl mb-4 font-heading">
          <span
            class="inline-flex items-center justify-center h-12 w-12 mr-2 border rounded-full"
            >2</span
          ><span>Tetapkan Sesi </span>
        </h3>
        <p class="text-gray-500">
          Tetapkan komitmen hari dan masa untuk belajar. Atau anda boleh pilih
          untuk belajar satu sesi sahaja
        </p>
      </div>

      <div class="lg:w-1/4 px-8 mb-8">
        <img class="w-1/2 mx-auto mb-8" src="/svg/how-medium.svg" alt="" />
        <h3 class="text-2xl mb-4 font-heading">
          <span
            class="inline-flex items-center justify-center h-12 w-12 mr-2 border rounded-full"
            >3</span
          ><span>Pilih Kaedah </span>
        </h3>
        <p class="text-gray-500">
          Anda pilih samada hendak belajar secara online atau ke guru datang ke
          rumah*
        </p>
      </div>

      <div class="lg:w-1/4 px-8 mb-8">
        <img class="w-1/2 mx-auto mb-8" src="/svg/how-pay.svg" alt="" />
        <h3 class="text-2xl mb-4 font-heading">
          <span
            class="inline-flex items-center justify-center h-12 w-12 mr-2 border rounded-full"
            >4</span
          ><span>Pengesahan </span>
        </h3>
        <p class="text-gray-500">
          Terima email pengesahan dan buat pembayaran untuk teruskan proses
          selanjutnya.
        </p>
      </div>
    </div>
    <div>
      <nuxt-link
        to="/mengaji_quran_online/register"
        class="inline-block py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
        >Daftar Sekarang</nuxt-link
      >
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
