<template>
  <section class="py-8 px-4 text-center bg-grey">
    <div class="max-w-2xl mx-auto">
      <div
        class="flex items-center justify-center h-20 w-20 p-2 mx-auto mb-8 border rounded-full"
      >
        <img class="rounded-full" src="placeholders/logos/realweb.svg" alt="" />
      </div>
      <p class="text-xl mb-8">
        “Orang yang paling baik di antara kamu adalah seseorang yang belajar
        al-Quran dan mengajarkannya.”
      </p>
      <p class="text-sm font-semibold">Riwayat Al Bukhari</p>
      <!-- <p class="text-sm">CEO at Realweb</p> -->
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
