<template>
  <section class="py-12 px-4">
    <h2 class="text-3xl text-center mb-12 font-heading">
      Kelebihan mengaji daripada kami
    </h2>
    <div class="flex flex-wrap -mx-4 mb-6">
      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/calendar_3_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Fleksibel</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Anda boleh tetapkan masa dan komitmen pembelajaran anda berapa sesi
          setiap minggu.
        </p>
      </div>
      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/consult_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Guru Bertauliah</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Kesemua guru kami adalah dikehendaki lulusan sijil agama dan
          sesetengahnya adalah hafiz
        </p>
      </div>
      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/teacher_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Ikut Tahap</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Guru akan mengajar mengikut tahap ilmu dan kelancaran bacaan murid
        </p>
      </div>
      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/choose_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Pilihan Modul</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Pilih Modul untuk belajar seperti dari asas Iqram, Semak Bacaan
          Al-Fatihah, Talaqqi, Tajwid dan lain lain.
        </p>
      </div>

      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/swap_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Pilihan guru</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Anda boleh memilih untuk kekal atau tukar guru anda selepas habis sesi
        </p>
      </div>

      <div class="lg:w-1/3 px-4 mb-6">
        <img src="/svg/wallet_coin_color.svg" alt="" class="h-50" />
        <h3 class="text-xl my-2 font-heading">Yuran Berpatutan</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
          Yuran hanya serendah RM50 setiap murid bergantung kepada sesi dan
          modul hendak belajar
        </p>
      </div>
    </div>
    <div class="text-center">
      <nuxt-link
        to="/mengaji_quran_online/register"
        class="inline-block py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded"
        >Daftar Sekarang</nuxt-link
      >
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
